.authen-form-wrapper {
  width: 100%;
  min-height: 833px;
  height: calc(100vh - 73px);
  background-image: url("../images/singin-background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 48px;
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .authen-form-wrapper {
    padding: 24px 0px 44px 0px;
    min-height: auto;
    height: auto;
    max-height: auto;
  }
}
.authen-form-wrapper .authen-form-content {
  display: flex;
}
@media only screen and (max-width: 991px) {
  .authen-form-wrapper .authen-form-content {
    flex-direction: column;
  }
}
.authen-form-wrapper .authen-content {
  width: 50%;
}
@media only screen and (max-width: 991px) {
  .authen-form-wrapper .authen-content {
    width: 100%;
    order: 2;
  }
}
.authen-form-wrapper .authen-content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media only screen and (max-width: 991px) {
  .authen-form-wrapper .authen-content ul {
    gap: 12px;
  }
}
.authen-form-wrapper .authen-content ul li {
  display: flex;
  gap: 16px;
  align-items: center;
}
.authen-form-wrapper .authen-content ul li span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  display: inline-block;
  max-width: 560px;
}
.authen-form-wrapper .form-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 24px;
}
@media only screen and (max-width: 991px) {
  .authen-form-wrapper .form-title {
    margin-bottom: 16px;
  }
}
.authen-form-wrapper .form-wrapper {
  width: 50%;
  border-left: 1px solid #ffffff;
  padding-left: 83px;
}
@media only screen and (max-width: 991px) {
  .authen-form-wrapper .form-wrapper {
    padding-top: 12px;
    min-width: 100%;
    max-width: 100%;
    border-left: none;
    padding-left: 0;
    order: 1;
  }
}
.authen-form-wrapper .form-wrapper .form-detail {
  max-width: 400px;
}
@media only screen and (max-width: 991px) {
  .authen-form-wrapper .form-wrapper .form-detail {
    max-width: 100%;
  }
}
.authen-form-wrapper .form-wrapper .form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  max-width: 400px;
}
.authen-form-wrapper .form-wrapper .form-item label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}
.authen-form-wrapper .form-wrapper .form-item input {
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding: 8px 16px;
  background-color: transparent;
  caret-color: #fff;
  cursor: pointer;
}
.authen-form-wrapper .form-wrapper .form-item input:focus {
  outline: none;
  background-color: transparent;
}
.authen-form-wrapper .form-wrapper .form-item input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}
.authen-form-wrapper .form-wrapper .btn {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 12px;
}
.authen-form-wrapper .form-wrapper .btn:focus {
  outline: none;
}
.authen-form-wrapper .form-wrapper .list-control {
  padding-top: 4px;
}
.authen-form-wrapper .form-wrapper .btn-submit {
  color: #ffffff;
  background-color: #A52457;
}
.authen-form-wrapper .form-wrapper .btn-link {
  color: #ffffff;
}
.authen-form-wrapper .form-wrapper .btn-link:hover {
  text-decoration: none;
}

/*# sourceMappingURL=authen.css.map */
