/* -----------------------------------------------------------
	reset style
----------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background-color: #F5F5F5;
  color: #1A202C;
}

img {
  max-width: 100%;
}

a,
button {
  transition: all 0.4s ease;
}

.over {
  transition: all 0.4s ease;
}
.over:hover {
  opacity: 0.7;
}

.list-style-none {
  list-style: none !important;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

/* -----------------------------------------------------------
	common style
----------------------------------------------------------- */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.text-primary {
  color: #F91E4E;
}

.text-uppercase {
  text-transform: uppercase;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-center {
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.dash-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.dash-wrapper .dash-horizontal {
  display: block;
  min-width: 195px;
  max-width: 195px;
  height: 23px;
  object-fit: cover;
}

.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #1A202C;
  margin-bottom: 12px;
}
@media only screen and (max-width: 991px) {
  .page-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    /* Gray:900 */
    color: #1A202C;
    margin-bottom: 12px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
.main-page-wrapper {
  width: 100%;
  min-height: 418px;
  background-image: url("../images/background-content.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 585px 418px;
}
@media only screen and (max-width: 991px) {
  .main-page-wrapper {
    background-size: 339px 242px;
  }
}

.top-player__wrapper {
  width: 100%;
  height: auto;
  background: #ffffff;
  border: 1px solid #E9E6DC;
  border-radius: 4px;
  padding: 24px 14px;
  padding-right: 4px;
  /* width */
  /* Track */
  /* Handle */
}
.top-player__wrapper::-webkit-scrollbar {
  width: 4px;
}
.top-player__wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.top-player__wrapper::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
.top-player__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}
.top-player__description {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 16px;
  display: inline-block;
}
.top-player__list-player {
  width: 100%;
  height: auto;
  /* width */
  /* Track */
  /* Handle */
}
.top-player__list-player::-webkit-scrollbar {
  width: 4px;
}
.top-player__list-player::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.top-player__list-player::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
.top-player__list-player .player-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-right: 8px;
}
.top-player__list-player .player-item .score {
  min-width: 30px;
  padding: 2px 4px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #F91E4E;
}
.top-player__list-player .player-item .player-info {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-grow: 1;
}
.top-player__list-player .player-item .player-info .player-detail {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
}
.top-player__list-player .player-item .player-info .player-detail .player-image-wrapper {
  min-width: 56px;
  max-width: 56px;
  height: 56px;
  border: none;
  position: relative;
}
.top-player__list-player .player-item .player-info .player-detail .player-image-wrapper .player-image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: none;
}
.top-player__list-player .player-item .player-info .player-detail .player-image-wrapper .club-image {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 24px;
  max-width: 24px;
  height: auto;
  object-fit: cover;
}
.top-player__list-player .player-item .player-info .player-detail .player-description {
  display: flex;
  flex-direction: column;
}
.top-player__list-player .player-item .player-info .player-detail .player-description a {
  text-decoration: none;
}
.top-player__list-player .player-item .player-info .player-detail .player-description a:hover {
  text-decoration: underline;
}
.top-player__list-player .player-item .player-info .player-detail .player-description .player-name {
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
}
.top-player__list-player .player-item .player-info .player-detail .player-description .club-name {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #718096;
}

.football-ranking {
  width: 100%;
  height: auto;
  background: #FFFFFF;
  border: 1px solid #E9E6DC;
  border-radius: 4px;
}
.football-ranking__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 4px;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #E9E6DC;
  border-radius: 4px;
}
.football-ranking__header .league-info {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 6px;
  align-items: center;
}
.football-ranking__header .league-ranking-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px 16px;
  gap: 6px;
  cursor: pointer;
  border: none;
  border-radius: 0px;
  background-color: transparent;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
}
.football-ranking__header .league-ranking-item:hover {
  background-color: #EDF2F7;
}
.football-ranking__header .league-ranking-item img {
  display: block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  object-fit: cover;
}
.football-ranking__header .league-ranking-item:focus {
  outline: none;
}
.football-ranking__header .league-image {
  display: block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  object-fit: cover;
}
.football-ranking__header .league-name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
  font-family: "Poppins";
}
.football-ranking__header .btn-league-dropdown {
  display: flex;
  min-width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #EDF2F7;
}
.football-ranking__header .btn-league-dropdown:focus {
  outline: none;
}
.football-ranking__header .hidden {
  display: none;
}
.football-ranking__header .show {
  display: flex;
}
.football-ranking__header .list-league-ranking-dropdown {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  z-index: 999;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #E9E6DC;
  box-shadow: 0px 3px 0px rgba(126, 123, 107, 0.1);
}
@media only screen and (max-width: 991px) {
  .football-ranking__header {
    display: flex;
  }
}
.football-ranking__table {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F7FAFC;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #718096;
  padding-right: 4px;
  /* width */
  /* Track */
  /* Handle */
}
.football-ranking__table::-webkit-scrollbar {
  width: 4px;
}
.football-ranking__table::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.football-ranking__table::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
.football-ranking__table .table-heading {
  width: 100%;
  display: flex;
  padding: 6px 10px;
}
.football-ranking__table .column-10 {
  width: 10%;
}
.football-ranking__table .column-15 {
  width: 15%;
}
.football-ranking__table .column-55 {
  width: 55%;
  padding-left: 12px;
}
.football-ranking__table .table-row {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #EDF2F7;
  background-color: #fff;
  padding: 10px 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #1A202C;
}
.football-ranking__table .pos-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
.football-ranking__table .pos-wrapper .text-pos {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #1A202C;
}
.football-ranking__table .pos-wrapper span {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.football-ranking__table .club-info {
  display: flex;
  align-items: center;
  gap: 6px;
}
.football-ranking__table .club-info img {
  min-width: 20px;
  max-width: 20px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}
.football-ranking__table .club-info .club-name {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #1A202C;
  min-width: max-content;
}

.line-up-wrapper {
  width: 100%;
  height: auto;
  background: #FFFFFF;
  border: 1px solid #E9E6DC;
  border-radius: 4px;
  padding: 24px 16px 16px 16px;
}
.line-up-wrapper .title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1A202C;
}
.line-up-wrapper .line-up-content {
  width: 100%;
  height: auto;
  margin-top: 16px;
}
.line-up-wrapper .line-up-content .line-up-nav {
  width: 100%;
  display: flex;
}
.line-up-wrapper .line-up-content .line-up-nav li {
  width: 50%;
  height: auto;
}
.line-up-wrapper .line-up-content .line-up-nav li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 0px;
  gap: 6px;
  text-decoration: none;
  border-bottom: 1px solid #EDF2F7;
}
.line-up-wrapper .line-up-content .line-up-nav li a:hover {
  text-decoration: none;
}
.line-up-wrapper .line-up-content .line-up-nav li a img {
  min-width: 32px;
  max-width: 32px;
  display: block;
  height: 32px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
}
.line-up-wrapper .line-up-content .line-up-nav li a .club-name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
}
.line-up-wrapper .line-up-content .line-up-nav .ui-tabs-active {
  border-bottom: 1px solid #F91E4E;
}
.line-up-wrapper .line-up-content .list-line-up {
  margin-top: 16px;
  width: 100%;
  /* width */
  /* Track */
  /* Handle */
}
.line-up-wrapper .line-up-content .list-line-up::-webkit-scrollbar {
  width: 4px;
}
.line-up-wrapper .line-up-content .list-line-up::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.line-up-wrapper .line-up-content .list-line-up::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
.line-up-wrapper .line-up-content .list-line-up .line-up-item {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 12px;
}
.line-up-wrapper .line-up-content .list-line-up .line-up-item img {
  display: block;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
}
.line-up-wrapper .line-up-content .list-line-up .line-up-item .player-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.line-up-wrapper .line-up-content .list-line-up .line-up-item .player-info .player-name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
}
.line-up-wrapper .line-up-content .list-line-up .line-up-item .player-info .detail {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  gap: 2px;
}
.line-up-wrapper .line-up-content .list-line-up .line-up-item .text-green {
  color: #38A169;
}
.line-up-wrapper .line-up-content .list-line-up .line-up-item .text-grey {
  color: #718096;
}

.list-top-match-today {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 991px) {
  .list-top-match-today {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}
.list-top-match-today .list-top-match-item {
  min-width: 300px;
  max-width: 300px;
  min-height: 150px;
  max-height: 150px;
  padding: 16px 32px;
  background: #FFFFFF;
  border: 1px solid #E9E6DC;
  box-shadow: 0px 3px 0px rgba(126, 123, 107, 0.1);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .list-top-match-today .list-top-match-item {
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: auto;
    min-width: 150px;
    max-width: 150px;
    min-height: 193px;
    max-height: max-content;
    padding: 16px;
  }
}
.list-top-match-today .list-top-match-item:hover {
  border: 1px solid #FDC400;
  cursor: pointer;
}
.list-top-match-today .list-top-match-item .left-content,
.list-top-match-today .list-top-match-item .right-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .list-top-match-today .list-top-match-item .left-content,
.list-top-match-today .list-top-match-item .right-content {
    order: 1;
    width: fit-content;
  }
}
.list-top-match-today .list-top-match-item .left-content img,
.list-top-match-today .list-top-match-item .right-content img {
  display: block;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
}
.list-top-match-today .list-top-match-item .left-content .club-name,
.list-top-match-today .list-top-match-item .right-content .club-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1A202C;
  text-transform: uppercase;
}
@media only screen and (max-width: 991px) {
  .list-top-match-today .list-top-match-item .right-content {
    position: absolute;
    right: 16px;
    top: 16px;
  }
}
.list-top-match-today .list-top-match-item .middle-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 0px 30px;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .list-top-match-today .list-top-match-item .middle-content {
    order: 3;
    padding: 0;
  }
}
.list-top-match-today .list-top-match-item .middle-content .text-live {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #F91E4E;
}
.list-top-match-today .list-top-match-item .middle-content .league-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
  justify-content: center;
  align-items: center;
}
.list-top-match-today .list-top-match-item .middle-content .league-info .league-name {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  min-width: max-content;
  color: #718096;
}
.list-top-match-today .list-top-match-item .middle-content .league-info .league-time {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
}
.list-top-match-today .list-top-match-item .middle-content .btn-match {
  width: 100%;
  min-width: 102px;
  max-width: 102px;
  display: block;
  height: auto;
  padding: 6px 0px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  border-radius: 4px;
}
.list-top-match-today .list-top-match-item .middle-content .btn-match:focus {
  outline: none;
}
.list-top-match-today .list-top-match-item .middle-content .btn-default {
  color: #718096;
  background: #E2E8F0;
}
.list-top-match-today .list-top-match-item .middle-content .btn-live {
  background-color: #FDC400;
  color: #1A202C;
}

.list-news {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 40px;
}
.list-news a {
  text-decoration: none;
}
.list-news a:hover {
  text-decoration: none;
}
@media only screen and (max-width: 991px) {
  .list-news {
    gap: 0;
    margin-top: 16px;
  }
}
.list-news .news-item {
  min-width: 408px;
  height: auto;
  width: calc((100% - 48px) / 3);
  margin-bottom: 40px;
}
@media only screen and (max-width: 991px) {
  .list-news .news-item {
    width: 100%;
    margin-bottom: 16px;
    min-width: 100%;
  }
}
.list-news .news-item .news-image {
  width: 100%;
  max-height: 222px;
  object-fit: cover;
  display: block;
}
.list-news .news-item .news-detail {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.list-news .news-item .news-detail .league-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #F91E4E;
}
@media only screen and (max-width: 991px) {
  .list-news .news-item .news-detail .league-name {
    font-size: 12px;
    list-style: 18px;
  }
}
.list-news .news-item .news-detail .news-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #1A202C;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 337px;
}
@media only screen and (max-width: 991px) {
  .list-news .news-item .news-detail .news-title {
    font-size: 16px;
    list-style: 24px;
  }
}
.list-news .news-item .news-detail .time {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #718096;
}
@media only screen and (max-width: 991px) {
  .list-news .news-item .news-detail .time {
    font-size: 12px;
    list-style: 18px;
  }
}

.btn-load-more {
  min-width: 141px;
  display: block;
  margin: 0 auto;
  height: auto;
  padding: 12px 0px;
  text-align: center;
  border: none;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  background-color: #FDC400;
  border-radius: 4px;
  color: #1A202C;
}
.btn-load-more:focus {
  outline: none;
}

.qa-block-wrapper {
  width: 100%;
  padding: 45px 0px;
  min-height: 670px;
  background-color: #FDC400;
  position: relative;
  display: flex;
}
.qa-block-wrapper .qa-content-wrapper {
  padding-right: 8px;
  height: fit-content;
  border: 1px solid #1A202C;
  min-width: calc(100% - 670px);
  max-width: calc(100% - 670px);
  padding: 24px 8px 24px 24px;
}
@media only screen and (max-width: 991px) {
  .qa-block-wrapper .qa-content-wrapper {
    padding: 16px 0px;
    min-width: 100%;
    min-height: auto;
    max-width: 100%;
    padding: 16px 8px 12px 24px;
  }
}
.qa-block-wrapper .qa-content {
  width: 100%;
  max-height: 580px;
  padding-right: 20px;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
}
@media only screen and (max-width: 991px) {
  .qa-block-wrapper .qa-content {
    max-height: 530px;
  }
}
.qa-block-wrapper .qa-content::-webkit-scrollbar {
  width: 6px;
}
.qa-block-wrapper .qa-content::-webkit-scrollbar-track {
  background: transparent;
}
.qa-block-wrapper .qa-content::-webkit-scrollbar-thumb {
  background: #1A202C;
  border-radius: 0;
}
.qa-block-wrapper .qa-content .qa-item {
  margin-bottom: 30px;
}
.qa-block-wrapper .qa-content .qa-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #1A202C;
  margin-bottom: 12px;
}
.qa-block-wrapper .qa-content .qa-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
}
.qa-block-wrapper .qa-image {
  min-width: 670px;
  max-width: 670px;
  min-height: 580px;
  max-height: 580px;
  position: absolute;
  top: 8px;
  right: 48px;
}
@media only screen and (max-width: 991px) {
  .qa-block-wrapper .qa-image {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: auto;
    max-height: auto;
    margin-top: 24px;
  }
}
.qa-block-wrapper .qa-image img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.calendar {
  background: #fff;
  overflow: hidden;
  position: relative;
}

.ui-datepicker-header {
  height: auto;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1A202C;
  margin-bottom: 16px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  width: 24px;
  height: 24px;
  text-indent: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.ui-datepicker-prev {
  float: left;
  margin-left: 0px;
  position: relative;
}

.ui-datepicker-prev:after {
  transform: rotate(45deg);
  margin: -43px 0px 0px 8px;
}

.ui-datepicker-next {
  float: right;
  margin-right: 8px;
  position: relative;
}

.ui-datepicker-next:after {
  transform: rotate(-135deg);
  margin: -43px 0px 0px 6px;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border-left: 2px solid #1A202C;
  border-bottom: 2px solid #1A202C;
  top: 48px;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
  border-color: #1A202C;
}

.ui-datepicker-title {
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .ui-datepicker-title {
    margin-top: 10px;
  }
}

.ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}

.ui-datepicker-calendar thead tr th span {
  display: block;
  width: 35px;
  margin-bottom: 8px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #718096;
}

.ui-state-default {
  text-decoration: none;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
}
.ui-state-default:hover {
  text-decoration: none;
}

.ui-datepicker-today .ui-state-highlight {
  color: #FFFFFF;
  border-radius: 50%;
  background-color: #F91E4E;
}
.ui-datepicker-today .ui-state-active {
  color: #fff !important;
}

.ui-state-active {
  color: #F91E4E;
}

.ui-datepicker-other-month .ui-state-default {
  color: #A0AEC0;
}

/*# sourceMappingURL=common.css.map */
