/* -----------------------------------------------------------
	font-face
----------------------------------------------------------- */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* -----------------------------------------------------------
	reset style
----------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins" !important;
  color: #fff;
  overflow: hidden auto;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60.47%, #000000 82.71%);
  z-index: -1;
}
@media only screen and (max-width: 991px) {
  body {
    background-image: none;
    background-color: #000;
    height: auto;
  }
}

img {
  max-width: 100%;
}

a,
button {
  transition: all 0.4s ease;
}

.over {
  transition: all 0.4s ease;
}
.over:hover {
  opacity: 0.7;
}

.list-style-none {
  list-style: none !important;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

.mr-0 {
  margin: 0 !important;
}

.pd-0 {
  padding: 0 !important;
}

/* -----------------------------------------------------------
	common style
----------------------------------------------------------- */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.text-primary {
  color: #009a5f;
}

.text-uppercase {
  text-transform: uppercase;
}

.flex-start {
  justify-content: flex-start;
}

.text-overflow-150 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 150px;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-center {
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.txt-green-primary {
  color: #009a5f !important;
}

.w-20 {
  min-width: 20px !important;
  max-width: 20px !important;
  height: 20px !important;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 991px) {
  .container {
    padding-right: 12px;
    padding-left: 12px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
.calendar {
  background: #fff;
  overflow: hidden;
  position: relative;
  max-width: max-content;
  min-width: 320px;
  padding: 12px 4px;
}
@media only screen and (max-width: 991px) {
  .calendar {
    max-width: 100%;
  }
}
.calendar .ui-datepicker-header {
  height: auto;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1a202c;
  margin-bottom: 16px;
}
.calendar .ui-datepicker-prev,
.calendar .ui-datepicker-next {
  width: 24px;
  height: 24px;
  text-indent: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.calendar .ui-datepicker-prev {
  float: left;
  margin-left: 0px;
  position: relative;
}
.calendar .ui-datepicker-prev:after {
  transform: rotate(45deg);
  margin: -43px 0px 0px 8px;
}
.calendar .ui-datepicker-next {
  float: right;
  margin-right: 8px;
  position: relative;
}
.calendar .ui-datepicker-next:after {
  transform: rotate(-135deg);
  margin: -43px 0px 0px 6px;
}
.calendar .ui-datepicker-prev:after,
.calendar .ui-datepicker-next:after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border-left: 2px solid #1a202c;
  border-bottom: 2px solid #1a202c;
  top: 48px;
}
.calendar .ui-datepicker-prev:hover,
.calendar .ui-datepicker-next:hover,
.calendar .ui-datepicker-prev:hover:after,
.calendar .ui-datepicker-next:hover:after {
  border-color: #1a202c;
}
.calendar .ui-datepicker-title {
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .calendar .ui-datepicker-title {
    margin-top: 10px;
  }
}
.calendar .ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.calendar .ui-datepicker-calendar thead tr th span {
  display: block;
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
  margin-bottom: 8px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #718096;
}
.calendar .ui-state-default {
  text-decoration: none;
  min-width: 35px !important;
  min-height: 35px !important;
  max-width: 35px !important;
  max-height: 35px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a202c;
}
.calendar .ui-state-default:hover {
  text-decoration: none;
}
.calendar .ui-datepicker-today .ui-state-highlight {
  color: #ffffff;
  border-radius: 50%;
  background-color: #009a5f;
}
.calendar .ui-datepicker-today .ui-state-active {
  color: #fff !important;
  font-weight: bold;
}
.calendar .ui-state-active {
  color: #009a5f;
}
.calendar .ui-datepicker-other-month .ui-state-default {
  color: #a0aec0;
}

.search-wrapper-common {
  width: 100%;
  height: auto;
  padding: 6px;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 6px;
}
.search-wrapper-common .icon {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}
.search-wrapper-common input {
  flex-grow: 1;
  width: 100%;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  /* identical to box height */
  /* #FFFFFF */
  color: #ffffff;
  background-color: transparent;
}
.search-wrapper-common input:focus {
  outline: none;
}
.search-wrapper-common input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.menu-search {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 6px;
}

.sidebar-search {
  background: rgba(255, 255, 255, 0.1);
  padding: 6px;
}

.list-league {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.list-league-menu-mb {
  margin-top: 24px;
}

.list-vertical {
  flex-direction: column;
  gap: 16px;
}

.list-horizontal {
  flex-direction: row;
  gap: 32px;
}

.league-item {
  display: flex;
  align-items: center;
  gap: 0px 8px;
  text-decoration: none;
}
.league-item:hover {
  text-decoration: none;
}

.league-image-common {
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  object-fit: cover;
  border: none;
  border-radius: 50%;
}

.league-name {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
}

.nav-logo {
  min-width: 200px;
  max-width: 200px;
  margin-left: 125px;
}
@media only screen and (max-width: 991px) {
  .nav-logo {
    margin-left: 0;
    min-width: 155px;
    max-width: 155px;
  }
}
.nav-logo img {
  min-width: 200px;
  max-width: 200px;
  height: 31px;
  object-fit: cover;
}
@media only screen and (max-width: 991px) {
  .nav-logo img {
    min-width: 155px;
    max-width: 155px;
    height: 24px;
  }
}

@media only screen and (max-width: 991px) {
  .nav-footer-logo img {
    display: block !important;
  }
}

.main-layout {
  width: 100%;
  height: auto;
  display: flex;
  gap: 24px;
  padding: 24px 0px;
  justify-content: center;
}
@media only screen and (max-width: 991px) {
  .main-layout {
    padding: 12px 0px;
  }
}

.left-main-layout,
.right-main-layout {
  min-width: 200px;
  max-width: 200px;
  height: auto;
  max-height: max-content;
}
@media only screen and (max-width: 991px) {
  .left-main-layout,
.right-main-layout {
    display: none;
  }
}

.center-main-layout {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 545px;
}
@media only screen and (max-width: 991px) {
  .center-main-layout {
    max-width: 100%;
  }
}

.main-match-content-wrapper {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 991px) {
  .main-match-content-wrapper {
    width: 100%;
  }
}
.main-match-content-wrapper .match-player-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  max-width: 808px;
}
.main-match-content-wrapper .match-player-wrapper .match-player {
  height: 425px;
  width: 100%;
}
.main-match-content-wrapper .match-player-wrapper .match-player iframe {
  width: 100%;
  height: 100%;
}
@media (max-width: 400px) {
  .main-match-content-wrapper .match-player-wrapper .match-player {
    min-width: 100%;
    max-width: 100%;
    height: 180px;
  }
}
.main-match-content-wrapper .match-player-wrapper .list-server {
  display: flex;
  align-items: center;
}
.main-match-content-wrapper .match-player-wrapper .list-server .active {
  background: #009a5f !important;
}
.main-match-content-wrapper .match-player-wrapper .list-server .btn-server {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 16px;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  /* #FFFFFF */
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
  margin-right: 12px;
}
.main-match-content-wrapper .match-player-wrapper .list-server .btn-server:last-of-type {
  margin-right: 0;
}
.main-match-content-wrapper .match-player-wrapper .list-server .btn-server:focus {
  outline: none;
}
.main-match-content-wrapper .match-player-wrapper .match-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px 24px;
}
.main-match-content-wrapper .match-player-wrapper .list-player-contact {
  display: flex;
  align-items: center;
}
.main-match-content-wrapper .match-player-wrapper .list-player-contact .list-player-contact-item {
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  margin-right: 16px;
}
.main-match-content-wrapper .match-player-wrapper .list-player-contact .list-player-contact-item a {
  display: block;
  width: 100%;
  height: 100%;
}
.main-match-content-wrapper .match-content-wrapper {
  display: flex;
}
.main-match-content-wrapper .match-content-page-wrapper {
  margin-right: 24px;
  min-width: 545px;
  max-width: 545px;
}
@media only screen and (max-width: 991px) {
  .main-match-content-wrapper .match-content-page-wrapper {
    min-width: 100%;
    max-width: 100%;
  }
}

.left-main-layout-content-wrapper,
.right-main-content-wrapper {
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 16px 12px;
}
.left-main-layout-content-wrapper .list-league-wrapper,
.right-main-content-wrapper .list-league-wrapper {
  margin: 16px 0px;
}

.right-main-layout {
  min-width: 240px;
  max-width: 240px;
}
.right-main-layout .header-right-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-main-layout .header-right-content .title {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
}
.right-main-layout .header-right-content .icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.right-main-layout .list-news-right-sidebar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px 0px;
}
.right-main-layout .list-news-right-sidebar-wrapper .list-news-item {
  position: relative;
  display: block;
  margin-top: 12px;
  min-width: 216px;
  max-width: 216px;
  height: 144px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}
.right-main-layout .list-news-right-sidebar-wrapper .list-news-item .image-news {
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 4px;
}
.right-main-layout .list-news-right-sidebar-wrapper .list-news-item .news-content-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 12px 8px;
}
.right-main-layout .list-news-right-sidebar-wrapper .list-news-item .news-content-mask .news-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 100%;
}
.right-main-layout .list-news-right-sidebar-wrapper .list-news-item:hover {
  text-decoration: none;
}

.button-common {
  width: 100%;
  display: block;
  padding: 8px 0px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  /* #FFFFFF */
  color: #ffffff;
}
.button-common:focus {
  outline: none;
}

.league-info-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.league-info-wrapper .league-image {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: none;
  margin-right: 12px;
}
@media only screen and (max-width: 991px) {
  .league-info-wrapper .league-image {
    min-width: 20px;
    max-width: 20px;
    height: 20px;
  }
}
.league-info-wrapper .league-info {
  display: flex;
  flex-direction: column;
}
.league-info-wrapper .league-info .group-name {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  color: #ffffff;
  font-weight: bold;
}
.league-info-wrapper .league-info .league-name {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.table-match-detail-wrapper {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px 0px;
  display: flex;
  align-items: center;
}
.table-match-detail-wrapper .club-item-wrapper {
  width: 50%;
}
.table-match-detail-wrapper .score-wrapper {
  min-width: 50px;
  max-width: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px 0px;
}
.table-match-detail-wrapper .score-wrapper .score {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 26px;
  /* identical to box height */
  text-align: center;
  /* #FFFFFF */
  color: #ffffff;
}
.table-match-detail-wrapper .score-wrapper .type {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height */
  text-align: center;
  /* #FFFFFF */
  color: rgba(255, 255, 255, 0.5);
}
.table-match-detail-wrapper .club-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px 0px;
}
.table-match-detail-wrapper .club-item-wrapper .club-image {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
}
.table-match-detail-wrapper .club-item-wrapper .club-name {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .table-match-detail-wrapper .club-item-wrapper .club-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
  }
}

.sub-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 20px;
}
@media only screen and (max-width: 991px) {
  .sub-nav {
    padding: 0px 12px;
  }
}
.sub-nav li {
  min-width: max-content;
  margin-right: 20px;
}
@media only screen and (max-width: 991px) {
  .sub-nav li {
    margin-right: 12px;
    min-width: fit-content;
  }
}
.sub-nav li:last-of-type {
  margin-right: 0;
}
.sub-nav li a {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 10px;
  display: block;
  text-decoration: none;
  min-width: max-content;
  position: relative;
  top: 4px;
  left: 0;
}
.sub-nav li a:hover {
  text-decoration: none;
}
.sub-nav .ui-state-active a {
  color: #009a5f;
  padding-bottom: 7px;
  border-bottom: 3px solid #009a5f;
  font-weight: bold;
}

.tab-content {
  padding: 16px 20px;
}
@media only screen and (max-width: 991px) {
  .tab-content {
    padding: 16px 8px;
  }
}

.block-club-common {
  display: flex;
  align-items: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border: none;
  padding: 10px 16px;
  margin-bottom: 4px;
}
@media only screen and (max-width: 991px) {
  .block-club-common {
    padding: 10px;
  }
}
.block-club-common .time-wrapper {
  min-width: 40px;
  max-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 10px;
}
.block-club-common .time-wrapper .type {
  text-transform: uppercase;
}
.block-club-common .list-club-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 8px;
}
.block-club-common .club-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-club-common .club-item .club-info-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.block-club-common .club-item .club-info-wrapper img {
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  border: none;
  object-fit: cover;
  border-radius: 50%;
}
.block-club-common .club-item .club-info-wrapper .club-name {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  /* #FFFFFF */
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}
.block-club-common .club-item .score {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  min-width: 8px;
  max-width: 8px;
  display: flex;
  justify-content: center;
}
.block-club-common .icon-star {
  margin-left: 16px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-club-common .text-overflow-club {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 330px;
}
@media only screen and (max-width: 991px) {
  .block-club-common .text-overflow-club {
    max-width: 180px;
  }
}

@media only screen and (max-width: 991px) {
  .match-table-common {
    max-width: 100vw;
    overflow-x: scroll !important;
  }
}
.match-table-common .active {
  background-color: #181818 !important;
  color: #fff !important;
}
.match-table-common .table-row {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.7);
}
@media only screen and (max-width: 991px) {
  .match-table-common .table-row {
    min-width: max-content;
  }
}
.match-table-common .table-row .column-25 + .column-8 {
  color: #fff;
  font-weight: bold;
}
.match-table-common .table-row .column-8:first-child {
  font-weight: bold;
}
.match-table-common .table-row .column-8:last-child {
  color: #fff;
  font-weight: bold;
}
.match-table-common .column-25 {
  width: 30%;
}
@media only screen and (max-width: 991px) {
  .match-table-common .column-25 {
    min-width: 150px;
  }
}
.match-table-common .column-8 {
  width: 7.7777777778%;
}
@media only screen and (max-width: 991px) {
  .match-table-common .column-8 {
    min-width: 40px;
  }
}
.match-table-common .table-heading {
  background-color: rgba(255, 255, 255, 0.1);
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: none !important;
  font-weight: bold;
}
.match-table-common .table-heading .column-25 + .column-8 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}
.match-table-common .table-heading .column-8:first-child {
  font-weight: 400;
}
.match-table-common .table-heading .column-8:last-child {
  color: rgba(255, 255, 255, 0.5);
}
.match-table-common .table-heading .column-25 {
  font-weight: 400;
}
@media only screen and (max-width: 991px) {
  .match-table-common .table-heading {
    min-width: max-content;
  }
}
.match-table-common .txt-green {
  color: #31ffe6 !important;
}
.match-table-common .txt-violet {
  color: #b235ff !important;
}
.match-table-common .club-info {
  display: flex;
  align-items: center;
  gap: 0px 8px;
}
.match-table-common .club-info .club-image {
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
}
.match-table-common .club-info .club-name {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  max-width: 120px;
}

.list-new-in-match {
  gap: 0 !important;
}

.list-new-by-category {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 24px 32px;
}
@media only screen and (max-width: 991px) {
  .list-new-by-category {
    gap: 24px 0px;
    flex-direction: column;
  }
}
.list-new-by-category .list-new-by-category-item {
  width: calc((100% - 32px) / 2);
  height: auto;
  display: flex;
  gap: 12px;
  text-decoration: none;
}
@media only screen and (max-width: 991px) {
  .list-new-by-category .list-new-by-category-item {
    width: 100%;
  }
}
.list-new-by-category .list-new-by-category-item:hover {
  text-decoration: none;
}
.list-new-by-category .list-new-by-category-item img {
  min-width: 172px;
  max-width: 172px;
  height: 104px;
  object-fit: cover;
  border: none;
  border-radius: 4px;
}
@media only screen and (max-width: 991px) {
  .list-new-by-category .list-new-by-category-item img {
    min-width: 123px;
    max-width: 123px;
    height: 85px;
  }
}
.list-new-by-category .list-new-by-category-item .news-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 6px;
}
@media only screen and (max-width: 991px) {
  .list-new-by-category .list-new-by-category-item .news-info {
    padding-bottom: 0px;
  }
}
.list-new-by-category .list-new-by-category-item .news-info .news-title {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .list-new-by-category .list-new-by-category-item .news-info .news-title {
    font-size: 13px;
    line-height: 20px;
  }
}
.list-new-by-category .list-new-by-category-item .news-info .time {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.list-new-by-category .news-in-match {
  width: 100% !important;
  padding: 16px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
@media only screen and (max-width: 991px) {
  .list-new-by-category .news-in-match {
    padding: 0 !important;
    border-bottom: none;
    margin-bottom: 24px;
  }
  .list-new-by-category .news-in-match:last-of-type {
    margin-bottom: 0;
  }
}
.list-new-by-category .news-in-match img {
  min-width: 130px;
  max-width: 130px;
  height: 80px;
}
.list-new-in-club {
  gap: 0 !important;
}
.list-new-in-club .list-new-by-category-item {
  padding: 0 !important;
  border-bottom: none !important;
  margin-bottom: 14px !important;
}

.block-tab-title {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  text-transform: uppercase;
  /* #FFFFFF */
  color: #ffffff;
  margin-bottom: 8px;
}

.txt-blue {
  color: #319cff;
}

.txt-orange {
  color: #d98017;
}

.main-layout-scores-page .right-main-layout {
  padding-top: 46px;
}
@media only screen and (max-width: 991px) {
  .main-layout-scores-page {
    border: none;
  }
}

.main-title {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  /* identical to box height */
  /* #FFFFFF */
  color: #ffffff;
  margin: 8px 0px;
  display: none;
}
@media only screen and (max-width: 991px) {
  .main-title {
    display: block;
  }
}

.main-nav {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0px 10px;
  margin-bottom: 16px;
}
@media only screen and (max-width: 991px) {
  .main-nav {
    gap: 0px 5px;
    margin-bottom: 8px;
  }
}
.main-nav li {
  min-width: max-content;
}
.main-nav li a {
  display: block;
  text-decoration: none;
  padding: 5px 16px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
  min-width: max-content;
}
.main-nav li a:hover {
  text-decoration: none;
}
@media only screen and (max-width: 991px) {
  .main-nav li a {
    padding: 5px 8px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
  }
}
.main-nav .nav-item-pc {
  display: block;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 991px) {
  .main-nav .nav-item-pc {
    display: none;
  }
}
.main-nav .ui-state-default {
  width: auto !important;
  height: auto !important;
}
.main-nav .ui-tabs-active a {
  background-color: #009a5f;
}

.date-nav {
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding: 8px 16px 0px;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .date-nav {
    padding: 10px 0px 0px;
  }
}
.date-nav li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-nav li a {
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 68px;
  text-decoration: none;
  padding-bottom: 8px;
}
@media only screen and (max-width: 991px) {
  .date-nav li a {
    min-width: fit-content;
  }
}
.date-nav li a:hover {
  text-decoration: none;
}
.date-nav li a .day {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
}
@media only screen and (max-width: 991px) {
  .date-nav li a .day {
    font-size: 10px;
    line-height: 15px;
  }
}
.date-nav li a .date {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 991px) {
  .date-nav li a .date {
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
  }
}
.date-nav .ui-tabs-active a {
  color: #009a5f;
  padding-bottom: 5px;
  border-bottom: 3px solid #009a5f;
}
.date-nav .ui-tabs-active a .day,
.date-nav .ui-tabs-active a .date {
  color: #009a5f;
}

.sub-nav-item-for-mobile {
  display: none !important;
}
@media only screen and (max-width: 991px) {
  .sub-nav-item-for-mobile {
    display: block !important;
  }
}

.sub-nav-item-for-pc {
  display: block !important;
}
@media only screen and (max-width: 991px) {
  .sub-nav-item-for-pc {
    display: none !important;
  }
}

.main-tab-content {
  background: #000000;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  min-height: 100%;
}
@media only screen and (max-width: 991px) {
  .main-tab-content {
    padding: 0;
    border: none;
    height: auto;
  }
}

.scores-page-content-wrapper {
  width: 100%;
  height: auto;
  flex-grow: 1;
  max-width: 808px;
}
@media only screen and (max-width: 991px) {
  .scores-page-content-wrapper {
    min-width: 100%;
    max-width: 100%;
  }
}

.date-picker-wrapper {
  cursor: pointer;
  position: relative;
  top: -5px;
}
.date-picker-wrapper .calender-wrapper {
  position: relative;
}
.date-picker-wrapper .calender-wrapper .datepicker-mobile {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: #fff;
  z-index: 99999;
}
@media only screen and (max-width: 991px) {
  .date-picker-wrapper .calender-wrapper .datepicker-mobile {
    bottom: auto;
    right: -100%;
  }
}
.date-picker-wrapper .calender-wrapper .control-wrapper {
  display: flex;
}
.date-picker-wrapper .calender-wrapper .time-detail {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-picker-wrapper .calender-wrapper .btn-calender {
  display: flex;
  min-width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.date-picker-wrapper .calender-wrapper .btn-calender:focus {
  outline: none;
}
@media only screen and (max-width: 991px) {
  .date-picker-wrapper .calender-wrapper {
    display: flex;
  }
}

.live-nav-item {
  border-bottom: none !important;
  padding: 5px 8px;
  background: #ffffff;
  border-radius: 6px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000 !important;
  max-height: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-tab-content {
  padding: 16px 20px;
}
@media only screen and (max-width: 991px) {
  .sub-tab-content {
    padding: 12px 0px;
  }
}

.block-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px !important;
}
.block-header .league-info-wrapper {
  margin-bottom: 0 !important;
}
.block-header .icon-arrow {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.list-league-in-scores {
  width: 100%;
}
.list-league-in-scores .list-result-league {
  margin-bottom: 16px;
}
.list-league-in-scores .list-result-league .league-item-wrapper {
  display: flex;
  flex-direction: column;
}

.stading-content-wrapper {
  padding: 20px;
}
@media only screen and (max-width: 991px) {
  .stading-content-wrapper {
    padding: 12px 0px;
  }
}
.stading-content-wrapper .stading-league-item {
  margin-bottom: 20px;
}
.stading-content-wrapper .match-table-common {
  margin: 12px 0px 8px 0px;
}

.list-league-in-odds {
  width: 100%;
  height: auto;
}

.txt-odds-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 210px;
}
@media only screen and (max-width: 991px) {
  .txt-odds-1 {
    max-width: 280px;
  }
}

.txt-odds-2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.odds-block-header {
  display: flex;
  align-items: center;
}
.odds-block-header .odds-info {
  display: flex;
  align-items: center;
}
.odds-block-header .odds-info .odd-value {
  display: flex;
  align-items: center;
  gap: 0px 55px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  margin: 0px 50px;
}
@media only screen and (max-width: 991px) {
  .odds-block-header .odds-info .odd-value {
    display: none;
  }
}
.odds-block-header .odds-info .icon-arrow {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.odds-block-header .odds-info .icon-arrow svg {
  display: none;
}
@media only screen and (max-width: 991px) {
  .odds-block-header .odds-info .icon-arrow svg {
    display: block;
  }
}

.list-league-in-odds .league-item-wrapper {
  margin-bottom: 16px;
}

.list-odds-value {
  display: flex;
  align-items: center;
  gap: 6px;
}
@media only screen and (max-width: 991px) {
  .list-odds-value {
    flex-direction: column;
    gap: 4px 0px;
  }
}
.list-odds-value .odds-item {
  display: flex;
  gap: 4px;
  align-items: center;
  background: rgba(217, 217, 217, 0.1);
  border-radius: 4px;
  min-width: 57px;
  max-height: 24px;
  padding: 4px 7px;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .list-odds-value .odds-item {
    background-color: transparent;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    padding: 0;
    min-width: fit-content;
    max-height: fit-content;
  }
}
.list-odds-value .odds-item .icon {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .list-odds-value .odds-item .icon {
    width: 12px;
    height: 12px;
  }
}
@media only screen and (max-width: 991px) {
  .list-odds-value .odds-item .icon svg {
    width: 12px;
    height: 12px;
  }
}

.favourites-page-content-wrapper .sub-nav {
  padding-top: 10px;
}
@media only screen and (max-width: 991px) {
  .favourites-page-content-wrapper .sub-nav {
    padding: 0;
  }
}
.favourites-page-content-wrapper .sub-tab-content {
  padding: 16px 20px;
}
@media only screen and (max-width: 991px) {
  .favourites-page-content-wrapper .sub-tab-content {
    padding: 16px 0px;
  }
}
.favourites-page-content-wrapper .favourites-list-league-item {
  margin-bottom: 16px;
}

.block-league-item-common {
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 4px;
}
.block-league-item-common:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.block-league-item-common .left-block,
.block-league-item-common .right-block {
  width: 50%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .block-league-item-common .left-block {
    min-width: 50px;
    max-width: 50px;
    padding-right: 12px;
  }
}
@media only screen and (max-width: 991px) {
  .block-league-item-common .right-block {
    flex-grow: 1;
  }
}
.block-league-item-common .match-info,
.block-league-item-common .league-wrapper {
  display: flex;
  align-items: center;
}
.block-league-item-common .match-info {
  width: 40%;
  justify-content: space-between;
  padding-right: 16px;
}
@media only screen and (max-width: 991px) {
  .block-league-item-common .match-info .match-status {
    display: none;
  }
}
.block-league-item-common .league-wrapper {
  width: 60%;
  padding-left: 16px;
  padding-right: 8px;
}
@media only screen and (max-width: 991px) {
  .block-league-item-common .league-wrapper {
    display: none;
  }
}
.block-league-item-common .league-wrapper .league-image {
  min-width: 16px;
  max-width: 16px;
  height: 16px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}
.block-league-item-common .league-wrapper .league-name {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
}
.block-league-item-common .right-block {
  display: flex;
  align-items: center;
}
.block-league-item-common .right-block .list-club-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .block-league-item-common .right-block .list-club-wrapper {
    flex-direction: column;
  }
}
.block-league-item-common .right-block .list-club-wrapper .club-wraper {
  width: 50%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .block-league-item-common .right-block .list-club-wrapper .club-wraper {
    width: 100%;
  }
}
.block-league-item-common .right-block .list-club-wrapper .club-wraper .club-info {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.block-league-item-common .right-block .list-club-wrapper .club-wraper .club-info .club-image {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
}
.block-league-item-common .right-block .list-club-wrapper .club-wraper .club-info .club-name {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
  white-space: nowrap;
}
@media only screen and (max-width: 991px) {
  .block-league-item-common .right-block .list-club-wrapper .club-wraper .club-info .club-name {
    max-width: 200px;
  }
}
.block-league-item-common .right-block .list-club-wrapper .dot {
  margin: 0px 4px;
}
@media only screen and (max-width: 991px) {
  .block-league-item-common .right-block .list-club-wrapper .dot {
    display: none;
  }
}
.block-league-item-common .right-block .list-club-wrapper .club-1 .score {
  margin-left: 32px;
}
@media only screen and (max-width: 991px) {
  .block-league-item-common .right-block .list-club-wrapper .club-1 .score {
    margin-left: 0;
  }
}
.block-league-item-common .right-block .list-club-wrapper .club-1 .club-info {
  justify-content: flex-end;
}
@media only screen and (max-width: 991px) {
  .block-league-item-common .right-block .list-club-wrapper .club-1 .club-info {
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
}
.block-league-item-common .right-block .list-club-wrapper .club-1 .club-info .club-image {
  margin-left: 8px;
}
@media only screen and (max-width: 991px) {
  .block-league-item-common .right-block .list-club-wrapper .club-1 .club-info .club-image {
    margin-left: 0;
    margin-right: 8px;
  }
}
@media only screen and (max-width: 991px) {
  .block-league-item-common .right-block .list-club-wrapper .club-2 {
    flex-direction: row-reverse;
    margin-top: 8px;
  }
}
.block-league-item-common .right-block .list-club-wrapper .club-2 .score {
  margin-right: 32px;
}
@media only screen and (max-width: 991px) {
  .block-league-item-common .right-block .list-club-wrapper .club-2 .score {
    margin-right: 0;
  }
}
.block-league-item-common .right-block .list-club-wrapper .club-2 .club-info {
  justify-content: flex-start;
}
.block-league-item-common .right-block .list-club-wrapper .club-2 .club-info .club-image {
  margin-right: 8px;
}
.block-league-item-common .right-block .star-block {
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.all-tab-content-wrapper {
  padding: 20px 12px;
}
.all-tab-content-wrapper .group-filter-match-by-time {
  margin-bottom: 16px;
}
.all-tab-content-wrapper .time-label {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.all-tab-content-wrapper .filter-match-list {
  margin-top: 12px;
}
.all-tab-content-wrapper .filter-match-list__item {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.all-tab-content-wrapper .filter-match-list__item:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.all-tab-content-wrapper .filter-match-list__item .left-content {
  min-width: 150px;
  max-width: 150px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 991px) {
  .all-tab-content-wrapper .filter-match-list__item .left-content {
    min-width: 40px;
    max-width: 40px;
  }
}
.all-tab-content-wrapper .filter-match-list__item .left-content .top-content {
  width: 100%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .all-tab-content-wrapper .filter-match-list__item .left-content .top-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.all-tab-content-wrapper .filter-match-list__item .left-content .bottom-content {
  margin-top: 4px;
  display: flex;
  justify-content: flex-start;
}
@media only screen and (max-width: 991px) {
  .all-tab-content-wrapper .filter-match-list__item .left-content .bottom-content {
    display: none;
  }
}
.all-tab-content-wrapper .filter-match-list__item .left-content .bottom-content .league-name {
  color: var(--ffffff, #fff);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.all-tab-content-wrapper .filter-match-list__item .left-content .hour-label {
  color: var(--ffffff, #FFF);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (max-width: 991px) {
  .all-tab-content-wrapper .filter-match-list__item .left-content .hour-label {
    color: rgba(255, 255, 255, 0.5);
  }
}
.all-tab-content-wrapper .filter-match-list__item .left-content .sign {
  color: #FFF;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
@media only screen and (max-width: 991px) {
  .all-tab-content-wrapper .filter-match-list__item .left-content .sign {
    color: rgba(255, 255, 255, 0.5);
  }
}
.all-tab-content-wrapper .filter-match-list__item .left-content .live-status-wrapper {
  min-width: max-content;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  border: 1px solid #f15151;
  border-radius: 4px;
}
@media only screen and (max-width: 991px) {
  .all-tab-content-wrapper .filter-match-list__item .left-content .live-status-wrapper {
    padding: 0px 4px;
  }
}
.all-tab-content-wrapper .filter-match-list__item .left-content .live-status-wrapper .dot {
  min-width: 6px;
  max-width: 6px;
  height: 6px;
  border: none;
  border-radius: 50%;
  background-color: #f15151;
  margin-right: 4px;
}
@media only screen and (max-width: 991px) {
  .all-tab-content-wrapper .filter-match-list__item .left-content .live-status-wrapper .dot {
    min-width: 4px;
    max-width: 4px;
    height: 4px;
  }
}
.all-tab-content-wrapper .filter-match-list__item .left-content .live-status-wrapper .live-text {
  color: #f15151;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media only screen and (max-width: 991px) {
  .all-tab-content-wrapper .filter-match-list__item .left-content .live-status-wrapper .live-text {
    font-size: 11px;
  }
}
.all-tab-content-wrapper .filter-match-list__item .left-content .top-right-content {
  margin-left: 20px;
}
@media only screen and (max-width: 991px) {
  .all-tab-content-wrapper .filter-match-list__item .left-content .top-right-content {
    margin-right: 0;
    margin-left: 0;
    margin-top: 8px;
  }
}
.all-tab-content-wrapper .filter-match-list__item .left-content .top-right-content .time-label {
  color: #55b385;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.all-tab-content-wrapper .filter-match-list__item .right-content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 150px);
}
@media only screen and (max-width: 991px) {
  .all-tab-content-wrapper .filter-match-list__item .right-content {
    width: calc(100% - 40px);
  }
}
.all-tab-content-wrapper .filter-match-list__item .right-content .btn-watch {
  border: none;
  padding: 5px 12px;
  border-radius: 100px;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(--009-a-5-f, #009a5f);
}
.all-tab-content-wrapper .filter-match-list__item .right-content .list-club {
  padding: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 70px);
}
@media only screen and (max-width: 991px) {
  .all-tab-content-wrapper .filter-match-list__item .right-content .list-club {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.all-tab-content-wrapper .filter-match-list__item .right-content .list-club .club-name {
  color: var(--ffffff, #fff);
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.all-tab-content-wrapper .filter-match-list__item .right-content .club-item {
  width: calc((100% - 80px) / 2);
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .all-tab-content-wrapper .filter-match-list__item .right-content .club-item {
    width: 100%;
  }
}
.all-tab-content-wrapper .filter-match-list__item .right-content .club-item .club-name-wrapper {
  flex-grow: 1;
  display: flex;
  width: calc(100% - 28px);
}
@media only screen and (max-width: 991px) {
  .all-tab-content-wrapper .filter-match-list__item .right-content .club-item .club-name-wrapper {
    width: calc(100% - 24px);
  }
}
.all-tab-content-wrapper .filter-match-list__item .right-content .club-item .club-image {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
}
@media only screen and (max-width: 991px) {
  .all-tab-content-wrapper .filter-match-list__item .right-content .club-item .club-image {
    min-width: 20px;
    max-width: 20px;
    height: 20px;
  }
}
.all-tab-content-wrapper .filter-match-list__item .right-content .first-club {
  justify-content: flex-end;
}
.all-tab-content-wrapper .filter-match-list__item .right-content .first-club .club-image {
  margin-left: 8px;
}
@media only screen and (max-width: 991px) {
  .all-tab-content-wrapper .filter-match-list__item .right-content .first-club .club-image {
    margin-left: 0;
    margin-right: 8px;
  }
}
@media only screen and (max-width: 991px) {
  .all-tab-content-wrapper .filter-match-list__item .right-content .first-club {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
}
.all-tab-content-wrapper .filter-match-list__item .right-content .first-club .club-name-wrapper {
  justify-content: flex-end;
}
@media only screen and (max-width: 991px) {
  .all-tab-content-wrapper .filter-match-list__item .right-content .first-club .club-name-wrapper {
    justify-content: flex-start;
  }
}
.all-tab-content-wrapper .filter-match-list__item .right-content .second-club .club-image {
  margin-right: 8px;
}
.all-tab-content-wrapper .filter-match-list__item .right-content .match-result {
  min-width: 80px;
  max-width: 80px;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 991px) {
  .all-tab-content-wrapper .filter-match-list__item .right-content .match-result {
    display: none;
  }
}
.all-tab-content-wrapper .filter-match-list__item .right-content .match-result .score-text {
  color: var(--ffffff, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.livenow > div {
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 3px solid #f15151;
  -webkit-animation: live 1.4s infinite ease-in-out;
  animation: live 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  margin-right: 4px;
}
@media only screen and (max-width: 991px) {
  .livenow > div {
    width: 8px;
    height: 8px;
  }
}
.livenow > div:nth-child(1) {
  background-color: #f15151;
  background-color: #f15151;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes live {
  0%, 80%, 100% {
    -webkit-transform: scale(0.6);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes live {
  0%, 80%, 100% {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/*# sourceMappingURL=common.css.map */
