/* -----------------------------------------------------------
	font-face
----------------------------------------------------------- */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.header {
  width: 100%;
  border: none;
  height: auto;
  position: relative;
  padding-top: 8px;
}
@media only screen and (max-width: 991px) {
  .header {
    padding: 12px 0px;
  }
}
.header .navbar {
  display: flex;
  align-items: center;
  padding: 0;
}
@media only screen and (max-width: 991px) {
  .header .navbar {
    justify-content: space-between;
  }
}
.header .hamburger {
  display: none;
}
.header .bar {
  display: block;
  width: 18px;
  height: 1.5px;
  margin: 5px auto;
  border-radius: 0.5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
.header .nav-menu {
  display: flex;
  align-items: center;
  gap: 0px 12px;
  flex-grow: 1;
  margin-left: 24px;
  min-width: 545px;
  max-width: 545px;
  justify-content: center;
}
@media only screen and (max-width: 991px) {
  .header .nav-menu {
    margin-left: 0;
    min-width: 100%;
    max-width: 100%;
  }
}
.header .nav-item {
  position: relative;
  position: relative;
}
.header .nav-item .nav-link {
  display: flex;
  align-items: center;
  gap: 0px 8px;
  padding: 12px 12px;
}
.header .nav-item .nav-link .icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}
.header .nav-item .nav-link .label {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}
.header .nav-item .nav-link:hover {
  text-decoration: none;
}
.header .nav-item .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, rgba(0, 154, 95, 0) 0%, #009a5f 100%);
  opacity: 0.25;
  display: none;
}
.header .nav-item:hover .nav-link {
  border-bottom: 3px solid #009a5f;
  padding: 12px 12px 8px;
}
.header .nav-item:hover .mask {
  display: block;
}
.header .nav-item-mb {
  display: none;
}
.header .nav-link:hover {
  text-decoration: none;
}
.header .link-active .nav-link {
  border-bottom: 3px solid #009a5f;
  padding: 12px 12px 8px;
}
.header .link-active .mask {
  display: block;
}
@media only screen and (max-width: 768px) {
  .header .nav-menu {
    position: absolute;
    left: -100%;
    top: 100%;
    flex-direction: column;
    background-color: #000;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 99999999;
    gap: 32px 0px;
    padding: 8px 24px 24px 16px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header .nav-menu.active {
    left: 0;
  }
  .header .nav-item {
    width: 100%;
  }
  .header .nav-item .nav-link {
    padding: 4px 0px;
  }
  .header .nav-item-mb {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 24px;
  }
  .header .dash {
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 32px 24px;
  }
  .header .hamburger {
    display: block;
    cursor: pointer;
  }
  .header .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
  }
  .header .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
.header .list-league-pc-wrapper {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
@media only screen and (max-width: 991px) {
  .header .list-league-pc-wrapper {
    display: none;
    margin: 0;
  }
}
.header .list-league-pc-wrapper .list-league li a {
  display: flex;
  padding: 10px 16px;
}

.control-authen-block {
  min-width: max-content;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .control-authen-block {
    display: none;
  }
}
.control-authen-block .btn-authen {
  outline: none;
  border: none;
  padding: 6px 8px;
  cursor: pointer;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 8px;
}
.control-authen-block .btn-authen:focus {
  outline: none;
}
.control-authen-block .btn-sign-up {
  border: 1px solid #009a5f;
  color: #009a5f;
  background-color: transparent;
  margin-right: 12px;
}
.control-authen-block .btn-sign-in {
  border: 1px solid #009a5f;
  color: #fff;
  background-color: #009a5f;
}

.popup {
  position: fixed;
  z-index: -100;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup__close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .popup__close {
    top: 8px;
    right: 8px;
  }
}

.popup__body {
  position: relative;
  max-width: 464px;
  min-width: 464px;
  background: #333333;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 32px;
}
@media only screen and (max-width: 991px) {
  .popup__body {
    min-width: 100%;
    max-width: 100%;
    padding: 12px;
  }
}

.popup--show {
  z-index: 100;
  opacity: 1;
}

.popup-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-sign-in-content,
.popup-sign-up-content {
  width: 100%;
}

.authen-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  color: #ffffff;
  margin-bottom: 16px;
}
.authen-form-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.authen-form-wrapper .form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
  cursor: pointer;
}
.authen-form-wrapper .form-control:last-of-type {
  margin-bottom: 0;
}
.authen-form-wrapper .form-control .label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  color: #ffffff;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}
.authen-form-wrapper .form-control input {
  width: 100%;
  min-height: 44px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 10px 16px;
  color: #fff;
  cursor: pointer;
  margin-top: 8px;
}
.authen-form-wrapper .form-control input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  font-family: "Poppins";
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
}

.remember-block-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.remember-block-wrapper .remember-block label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
.remember-block-wrapper .remember-block input {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-right: 8px;
  accent-color: #009a5f;
  cursor: pointer;
}
.remember-block-wrapper .btn-forgot-password {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  /* #009A5F */
  color: #009a5f;
  text-decoration: none;
}

.btn-authen-wrapper {
  width: 100%;
  margin-bottom: 24px;
}
.btn-authen-wrapper .btn-authen {
  width: 100%;
  display: block;
  text-align: center;
  background: #009a5f;
  border-radius: 8px;
  padding: 10px 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn-authen-wrapper .btn-authen:focus {
  outline: none;
}

.viva-login-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.viva-login-wrapper .list-viva {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.viva-login-wrapper .list-viva .viva-item {
  margin-right: 16px;
}
.viva-login-wrapper .btn-register {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  /* #009A5F */
  color: #009a5f;
  text-decoration: none;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.all-sport-nav {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  position: relative;
}
.all-sport-nav .icon {
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-sport-nav:hover {
  background-color: #000;
  cursor: pointer;
}

.all-sport-nav-for-mb {
  position: relative;
  display: none;
  padding: 0;
}
@media only screen and (max-width: 991px) {
  .all-sport-nav-for-mb {
    display: flex;
  }
}
.all-sport-nav-for-mb .sub-category-for-mb {
  display: none;
  flex-direction: column !important;
}
.all-sport-nav-for-mb .sub-category {
  flex-direction: column;
}
.all-sport-nav-for-mb .icon {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  margin-right: 8px;
}

.sub-category {
  background-color: #000;
  top: 100%;
  right: 0;
  padding: 24px;
  position: absolute;
  color: #fff;
  z-index: 999;
  display: flex;
  min-width: 650px;
  max-width: 650px;
  display: none;
}
@media only screen and (max-width: 991px) {
  .sub-category {
    min-width: 100%;
    max-width: 100%;
    height: auto;
    display: none;
  }
}
.sub-category .column-category {
  flex-grow: 1;
  height: auto;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 991px) {
  .sub-category .column-category {
    margin-bottom: 12px;
  }
}
.sub-category .column-category .column-category-item {
  display: flex;
  padding: 0 !important;
  margin-bottom: 20px;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  /* identical to box height */
  color: rgba(255, 255, 255, 0.95);
  text-decoration: none;
}
.sub-category .column-category .column-category-item:last-of-type {
  margin-bottom: 0;
}
.sub-category .column-category .column-category-item .category-item-image {
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  display: block;
  object-fit: cover;
  margin-right: 12px;
}

/*# sourceMappingURL=header.css.map */
