/* -----------------------------------------------------------
	font-face
----------------------------------------------------------- */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.header {
  width: 100%;
  border: none;
  height: auto;
  padding: 8px 0px;
  background-color: #FDC400;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .header-content {
    padding-bottom: 8px;
  }
}
.header-content .logo-wrapper {
  display: flex;
  gap: 21px;
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 991px) {
  .header-content .logo-wrapper {
    gap: 12px;
  }
}
.header-content .logo-wrapper .logo-icon {
  min-width: 65px;
  max-width: 65px;
  height: 72px;
  object-fit: cover;
}
@media only screen and (max-width: 991px) {
  .header-content .logo-wrapper .logo-icon {
    min-width: 38px;
    max-width: 38px;
    height: 42px;
  }
}
.header-content .logo-wrapper .logo-title {
  min-width: 170px;
  max-width: 170px;
  height: 18px;
  object-fit: cover;
  margin-top: 8px;
}
@media only screen and (max-width: 991px) {
  .header-content .logo-wrapper .logo-title {
    min-width: 117px;
    max-width: 117px;
    height: 13px;
  }
}
.header-content .header-right {
  display: flex;
  gap: 16px;
  align-items: center;
}
.header-content .header-right .header-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
}
@media only screen and (max-width: 991px) {
  .header-content .header-right .header-description {
    display: none;
  }
}
.header-content .header-right .list-control {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header-content .header-right .btn {
  min-width: 58px;
  padding: 5px 8px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}
.header-content .header-right .btn:focus {
  outline: none;
}
.header-content .header-right .btn:hover {
  text-decoration: none;
}
.header-content .header-right .btn-signin {
  background-color: #F91E4E;
  color: #ffffff;
  border: none;
}
.header-content .header-right .btn-signup {
  background-color: transparent;
  color: #1A202C;
  border: 1px solid #1A202C;
}

/*# sourceMappingURL=header.css.map */
