.league-page-wrapper .league-content-wrapper {
  width: 100%;
  padding-top: 16px;
}
.league-page-wrapper .league-header {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .league-page-wrapper .league-header {
    gap: 12px;
  }
}
.league-page-wrapper .league-header img {
  display: block;
  min-width: 70px;
  max-width: 70px;
  height: 70px;
  object-fit: cover;
  border: none;
  border-radius: 50%;
}
@media only screen and (max-width: 991px) {
  .league-page-wrapper .league-header img {
    min-width: 56x;
    max-width: 56px;
    height: 56px;
  }
}
.league-page-wrapper .league-header .league-name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #1A202C;
}
@media only screen and (max-width: 991px) {
  .league-page-wrapper .league-header .league-name {
    font-size: 20px;
    line-height: 30px;
  }
}
.league-page-wrapper .league-detail {
  display: flex;
  gap: 24px;
}
@media only screen and (max-width: 991px) {
  .league-page-wrapper .league-detail {
    flex-direction: column;
    gap: 12px;
  }
}
.league-page-wrapper .league-detail .left-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.league-page-wrapper .league-detail .right-content {
  min-width: 300px;
  max-width: 300px;
  height: auto;
}
@media only screen and (max-width: 991px) {
  .league-page-wrapper .league-detail .right-content {
    min-width: 100%;
    max-width: 100%;
  }
}
.league-page-wrapper .league-detail .league-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A202C;
  margin-bottom: 24px;
}
.league-page-wrapper .league-detail .league-fixture__wrapper {
  background: #FFFFFF;
  border: 1px solid #E9E6DC;
  border-radius: 4px;
  padding: 24px;
  padding-bottom: 0;
  margin-bottom: 24px;
}
.league-page-wrapper .league-detail .league-fixture__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .league-page-wrapper .league-detail .league-fixture__header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.league-page-wrapper .league-detail .league-fixture__header .filter-wrapper {
  min-width: 306px;
  max-width: 306px;
}
@media only screen and (max-width: 991px) {
  .league-page-wrapper .league-detail .league-fixture__header .filter-wrapper {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 24px;
  }
}
.league-page-wrapper .league-detail .league-fixture__header .filter-wrapper .ui-datepicker-title {
  margin-top: 10px !important;
}
.league-page-wrapper .league-detail .league-fixture__header .filter-wrapper .ui-datepicker-header {
  margin-bottom: 4px !important;
}
.league-page-wrapper .league-detail .league-fixture__header .filter-wrapper .ui-datepicker-calendar {
  padding-top: 8px;
  border: 1px solid #E9E6DC;
  box-shadow: 0px 3px 0px rgba(126, 123, 107, 0.1);
  border-radius: 4px;
}
.league-page-wrapper .league-detail .league-fixture__header .filter-wrapper .calender-for-mobile {
  width: 100%;
  padding: 4px;
  position: relative;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #E9E6DC;
  border-radius: 4px;
}
@media only screen and (max-width: 991px) {
  .league-page-wrapper .league-detail .league-fixture__header .filter-wrapper .calender-for-mobile {
    order: 2;
    margin-top: 8px;
  }
}
.league-page-wrapper .league-detail .league-fixture__header .filter-wrapper .calender-for-mobile #datepicker-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  z-index: 99999;
}
.league-page-wrapper .league-detail .league-fixture__header .filter-wrapper .calender-for-mobile .control-wrapper {
  display: flex;
}
.league-page-wrapper .league-detail .league-fixture__header .filter-wrapper .calender-for-mobile .time-detail {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.league-page-wrapper .league-detail .league-fixture__header .filter-wrapper .calender-for-mobile .btn-calender {
  display: flex;
  min-width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: transparent;
}
.league-page-wrapper .league-detail .league-fixture__header .filter-wrapper .calender-for-mobile .btn-calender:focus {
  outline: none;
}
.league-page-wrapper .league-detail .league-fixture__header .filter-wrapper .calender-for-mobile .btn-next,
.league-page-wrapper .league-detail .league-fixture__header .filter-wrapper .calender-for-mobile .btn-prev {
  background-color: #EDF2F7;
}
.league-page-wrapper .league-detail .league-fixture__header .filter-wrapper .calender-for-mobile .btn-next {
  margin-right: 4px;
}
.league-page-wrapper .league-detail .league-fixture__header .filter-wrapper .calender-for-mobile .btn-show {
  background-color: #F91E4E;
}
@media only screen and (max-width: 991px) {
  .league-page-wrapper .league-detail .league-fixture__header .filter-wrapper .calender-for-mobile {
    display: flex;
  }
}
.league-page-wrapper .league-detail .league-fixture__header .title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 991px) {
  .league-page-wrapper .league-detail .league-fixture__header .title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }
}
.league-page-wrapper .league-detail .league-fixture__table {
  margin-bottom: 24px;
}
.league-page-wrapper .league-detail .league-fixture__table .table-heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 8px;
}
.league-page-wrapper .league-detail .league-fixture__table .coloumn-20 {
  width: 20%;
}
@media only screen and (max-width: 991px) {
  .league-page-wrapper .league-detail .league-fixture__table .coloumn-20 {
    width: 100%;
  }
}
.league-page-wrapper .league-detail .league-fixture__table .column-80 {
  width: 80%;
}
@media only screen and (max-width: 991px) {
  .league-page-wrapper .league-detail .league-fixture__table .column-80 {
    width: 100%;
  }
}
.league-page-wrapper .league-detail .league-fixture__table .column-40 {
  width: 40%;
}
.league-page-wrapper .league-detail .league-fixture__table .column-10 {
  width: 10%;
}
.league-page-wrapper .league-detail .league-fixture__table .table-row {
  padding: 12px 0px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EDF2F7;
}
@media only screen and (max-width: 991px) {
  .league-page-wrapper .league-detail .league-fixture__table .table-row {
    flex-flow: column;
    padding: 8px 0px;
  }
}
.league-page-wrapper .league-detail .league-fixture__table .table-row .time {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
@media only screen and (max-width: 991px) {
  .league-page-wrapper .league-detail .league-fixture__table .table-row .time {
    font-size: 12px;
    line-height: 18px;
  }
}
.league-page-wrapper .league-detail .league-fixture__table .list-club {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}
@media only screen and (max-width: 991px) {
  .league-page-wrapper .league-detail .league-fixture__table .list-club {
    gap: 12px;
  }
}
.league-page-wrapper .league-detail .league-fixture__table .list-club .club-item {
  display: flex;
  gap: 8px;
  align-items: center;
}
.league-page-wrapper .league-detail .league-fixture__table .list-club .club-item:first-of-type {
  justify-content: flex-end;
}
.league-page-wrapper .league-detail .league-fixture__table .list-club .club-item:last-of-type {
  justify-content: flex-start;
}
.league-page-wrapper .league-detail .league-fixture__table .list-club .club-item .club-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  min-width: max-content;
}
@media only screen and (max-width: 991px) {
  .league-page-wrapper .league-detail .league-fixture__table .list-club .club-item .club-name {
    font-size: 12px;
    line-height: 18px;
  }
}
.league-page-wrapper .league-detail .league-fixture__table .list-club .club-item .club-image {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
}
.league-page-wrapper .league-detail .league-fixture__table .list-club .score {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  min-width: max-content;
}
.league-page-wrapper .league-detail .league-standing__wrapper {
  padding: 24px 8px;
  background-color: #ffffff;
  border: 1px solid #E9E6DC;
  border-radius: 4px;
}
.league-page-wrapper .league-detail .league-standing__wrapper .title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 991px) {
  .league-page-wrapper .league-detail .league-standing__wrapper .title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }
}
.league-page-wrapper .league-detail .league-stadinng-table {
  width: 100%;
  height: auto;
  overflow-x: auto;
}
.league-page-wrapper .league-detail .league-stadinng-table .row-item {
  padding: 10px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a202c;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.league-page-wrapper .league-detail .league-stadinng-table .row-item .team-info {
  min-width: 230px;
  max-width: 230px;
  display: flex;
  align-items: center;
}
.league-page-wrapper .league-detail .league-stadinng-table .row-item .team-info .team-id {
  display: flex;
  justify-content: center;
  margin-right: 32px;
}
.league-page-wrapper .league-detail .league-stadinng-table .row-item .team-info .team-id .number {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a202c;
}
.league-page-wrapper .league-detail .league-stadinng-table .row-item .team-info .team-id .yellow-number {
  background-color: #FDC400;
}
.league-page-wrapper .league-detail .league-stadinng-table .row-item .team-info .team-id .red-number {
  background-color: #F91E4E;
  color: #ffffff;
}
.league-page-wrapper .league-detail .league-stadinng-table .row-item .team-info .team-name {
  flex-grow: 1;
}
.league-page-wrapper .league-detail .league-stadinng-table .row-item .team-result {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-grow: 1;
}
.league-page-wrapper .league-detail .league-stadinng-table .row-item .team-result .result-detail {
  flex-grow: 1;
  display: flex;
}
.league-page-wrapper .league-detail .league-stadinng-table .row-item .team-result .result-detail .detail-item {
  min-width: 50px;
  width: 12.5%;
  height: auto;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.league-page-wrapper .league-detail .league-stadinng-table .row-item .team-result .list-player {
  display: flex;
  gap: 2px;
  min-width: 150px;
  max-width: 150px;
}
.league-page-wrapper .league-detail .league-stadinng-table .row-item .team-result .list-player .player-item {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.league-page-wrapper .league-detail .league-stadinng-table .row-item .team-result .list-player .green {
  background-color: #18b745;
}
.league-page-wrapper .league-detail .league-stadinng-table .row-item .team-result .list-player .grey {
  background-color: #4a5568;
}
.league-page-wrapper .league-detail .league-stadinng-table .row-item .team-result .list-player .orange {
  background-color: #e34b31;
}
.league-page-wrapper .league-detail .league-stadinng-table .table-heading {
  background-color: #4a5568;
  color: #fff;
  min-width: max-content;
}
.league-page-wrapper .league-detail .league-stadinng-table .table-row {
  min-width: max-content;
}
.league-page-wrapper .league-detail .league-stadinng-table .table-row:nth-child(odd) {
  background-color: #edf2f7;
}
.league-page-wrapper .league-detail .league-stadinng-table .table-row:hover {
  cursor: pointer;
  background-color: #edf2f7;
}

/*# sourceMappingURL=league.css.map */
