.page-wrapper {
  padding-bottom: 145px;
}
@media only screen and (max-width: 991px) {
  .page-wrapper {
    padding-bottom: 172px;
  }
}

.match-page-wrapper {
  width: 100%;
  height: auto;
}
.match-page-wrapper .match-live-wrapper {
  width: 100%;
  height: auto;
  background-color: #1A202C;
}
.match-page-wrapper .live-content {
  width: 100%;
  padding: 24px 0px;
}
@media only screen and (max-width: 991px) {
  .match-page-wrapper .live-content {
    padding-top: 32px;
    padding-bottom: 24px;
  }
}
.match-page-wrapper .live-content .live-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.match-page-wrapper .live-content .live-header .match-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.match-page-wrapper .live-content .live-header .list-contact {
  display: flex;
  gap: 24px;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 991px) {
  .match-page-wrapper .live-content .live-header .list-contact {
    display: none;
  }
}
.match-page-wrapper .live-content .live-header .list-contact li a {
  text-decoration: none;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.match-page-wrapper .live-content .live-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .match-page-wrapper .live-content .live-title {
    display: none;
  }
}
.match-page-wrapper .live-content .match-time {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.match-page-wrapper .live-content .live-video {
  width: 100%;
  height: 715px;
  margin-bottom: 8px;
}
@media only screen and (max-width: 991px) {
  .match-page-wrapper .live-content .live-video {
    max-height: 210px;
    width: 100%;
  }
}
.match-page-wrapper .live-content .control-live {
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: auto;
}
@media only screen and (max-width: 991px) {
  .match-page-wrapper .live-content .control-live {
    width: 100%;
    max-width: 100%;
  }
}
.match-page-wrapper .live-content .control-live .list-server {
  display: flex;
  gap: 12px;
}
.match-page-wrapper .live-content .control-live .list-server .btn-server {
  outline: none;
  padding: 6px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #13B7A7;
  border: 1px solid #13B7A7;
  cursor: pointer;
  background-color: transparent;
}
.match-page-wrapper .live-content .control-live .list-server .btn-server:focus {
  outline: none;
}
.match-page-wrapper .live-content .control-live .list-server .active {
  color: #fff;
  background-color: #13B7A7;
}
.match-page-wrapper .match-result-wrapper {
  width: 100%;
  height: auto;
  margin: 48px 0px 24px 0px;
}
@media only screen and (max-width: 991px) {
  .match-page-wrapper .match-result-wrapper {
    margin: 16px 0px;
  }
}
.match-page-wrapper .dash-wrapper {
  display: flex;
  justify-content: center;
}
.match-page-wrapper .dash-wrapper img {
  display: block;
  width: 128px;
  height: 15px;
  object-fit: cover;
}
.match-page-wrapper .match-result {
  display: flex;
  align-items: center;
  gap: 24px;
  display: flex;
  width: 100%;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .match-page-wrapper .match-result {
    padding-bottom: 0;
    gap: 12px;
  }
}
.match-page-wrapper .match-result .column-50 {
  width: 50%;
}
.match-page-wrapper .match-result .column-15 {
  width: 15%;
}
.match-page-wrapper .match-result .club-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.match-page-wrapper .match-result .club-item .club-name {
  font-style: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #1A202C;
}
@media only screen and (max-width: 991px) {
  .match-page-wrapper .match-result .club-item .club-name {
    font-size: 14px;
    line-height: 21px;
  }
}
.match-page-wrapper .match-result .club-item .club-image {
  min-width: 24px;
  max-width: 24px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}
@media only screen and (max-width: 991px) {
  .match-page-wrapper .match-result .club-item .club-image {
    min-width: 24px;
    max-width: 24px;
  }
}
.match-page-wrapper .match-result .score-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: relative;
  min-width: 90px;
  max-width: 90px;
  text-align: center;
  border: 1px solid #A52457;
}
@media only screen and (max-width: 991px) {
  .match-page-wrapper .match-result .score-wrapper {
    padding: 0px 10px;
    min-width: 50px;
    max-width: 50px;
  }
}
.match-page-wrapper .match-result .score-wrapper .result {
  font-style: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #A52457;
}
@media only screen and (max-width: 991px) {
  .match-page-wrapper .match-result .score-wrapper .result {
    font-size: 14px;
    line-height: 21px;
    min-width: max-content;
    font-weight: 600;
  }
}
.match-page-wrapper .match-time-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0px;
}
@media only screen and (max-width: 991px) {
  .match-page-wrapper .match-time-detail {
    margin: 12px 0px;
  }
}
.match-page-wrapper .match-time-detail .time,
.match-page-wrapper .match-time-detail .status {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
  min-width: max-content;
}
.match-page-wrapper .match-time-detail .status {
  color: #A52457;
}

.list-club-info-detail {
  width: 100%;
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.list-club-info-detail .club-item-info {
  width: 50%;
  padding: 24px 32px;
  display: flex;
  gap: 16px;
  background-color: #F9F8F2;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
}
@media only screen and (max-width: 991px) {
  .list-club-info-detail .club-item-info {
    padding: 12px;
    gap: 12px;
    width: 100%;
  }
}
.list-club-info-detail .club-item-info img {
  display: block;
  min-width: 54px;
  max-width: 54px;
  height: 54px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
}
.list-club-info-detail .club-item-info .info-detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media only screen and (max-width: 991px) {
  .list-club-info-detail .club-item-info .info-detail {
    gap: 8px;
  }
}
.list-club-info-detail .club-item-info .info-detail .info-item {
  display: flex;
  gap: 4px;
}
@media only screen and (max-width: 991px) {
  .list-club-info-detail {
    gap: 16px;
    flex-direction: column;
    margin-bottom: 16px;
  }
}

.list-imformation-wrapper {
  width: 100%;
  height: auto;
  padding: 40px;
  background-color: #F9F8F2;
}
@media only screen and (max-width: 991px) {
  .list-imformation-wrapper {
    padding: 24px;
  }
}
.list-imformation-wrapper .information-item__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
.list-imformation-wrapper .information-item__wrapper:last-of-type {
  margin-bottom: 0;
}
@media only screen and (max-width: 991px) {
  .list-imformation-wrapper .information-item__wrapper {
    margin-bottom: 16px;
    gap: 8px;
  }
}
.list-imformation-wrapper .information-item__title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #1A202C;
}
@media only screen and (max-width: 991px) {
  .list-imformation-wrapper .information-item__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}
.list-imformation-wrapper .information-item__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
}

/*# sourceMappingURL=match.css.map */
