/* -----------------------------------------------------------
	.main-header
----------------------------------------------------------- */
.main-header {
  width: 100%;
  background-color: #313131;
}
.main-header .navbar-menu {
  padding-bottom: 0px;
  padding-left: 86px;
}
@media only screen and (max-width: 575px) {
  .main-header .navbar-menu {
    overflow: scroll;
  }
}
.main-header .navbar-menu .navbar-nav {
  display: flex;
  position: relative;
  gap: 32px;
  flex-direction: row;
  background-color: #313131;
}
@media only screen and (max-width: 575px) {
  .main-header .navbar-menu .navbar-nav {
    flex-direction: row;
  }
}
.main-header .navbar-menu li.nav-item {
  min-width: max-content;
  transition: all 0.5s ease-in-out;
}
@media only screen and (max-width: 575px) {
  .main-header .navbar-menu li.nav-item {
    width: 130px;
  }
}
.main-header .navbar-menu li.nav-item.active a.nav-link, .main-header .navbar-menu li.nav-item:hover a.nav-link {
  padding: 12px 0px 8px 0px;
  border-bottom: 4px solid #FDC400;
  color: #FDC400;
}
.main-header .navbar-menu li.nav-item.active .children-menu, .main-header .navbar-menu li.nav-item:hover .children-menu {
  display: block;
}
@media only screen and (max-width: 575px) {
  .main-header .navbar-menu li.nav-item.active .children-menu, .main-header .navbar-menu li.nav-item:hover .children-menu {
    display: none;
  }
}
.main-header .navbar-menu li.nav-item a.nav-link {
  display: block;
  min-width: max-content;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  padding: 12px 0px;
}
.main-header .navbar-menu li.nav-item a.nav-link img {
  width: 20%;
  margin-right: 10px;
}
.main-header .navbar-menu li.nav-item a.nav-link:hover {
  text-decoration: none;
}
.main-header .navbar-menu li.nav-item .children-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 99;
  padding: 20px 0px 20px 15px;
  display: none;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 575px) {
  .main-header .navbar-menu li.nav-item .children-menu {
    display: none;
  }
}
.main-header .navbar-menu li.nav-item .children-menu a.header-chil {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #F91E4E;
  font-weight: 400;
  line-height: 31px;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}
.main-header .navbar-menu li.nav-item .children-menu a.header-chil i {
  margin-left: 5px;
}
.main-header .navbar-menu li.nav-item .children-menu .chilren-item .mega-menu__menu__title {
  font-size: 18px;
  color: #1A202C;
  font-weight: 600;
  line-height: 31px;
  margin-bottom: 5px;
}
.main-header .navbar-menu li.nav-item .children-menu .chilren-item ul.mega-menu__menu {
  list-style: none;
  padding-left: 0px;
}
.main-header .navbar-menu li.nav-item .children-menu .chilren-item ul.mega-menu__menu li {
  margin-bottom: 5px;
}
.main-header .navbar-menu li.nav-item .children-menu .chilren-item ul.mega-menu__menu li a {
  font-size: 14px;
  color: #1A202C;
  font-weight: 400;
  line-height: 31px;
  text-decoration: none;
}
.main-header .navbar-menu li.nav-item .children-menu .chilren-item ul.mega-menu__menu li a:hover {
  color: #F91E4E;
}
.main-header .menu-block {
  position: relative;
}
@media only screen and (max-width: 575px) {
  .main-header .menu-block {
    padding-left: 0;
    margin-left: -12px;
  }
}
.main-header .block-sub-menu .children-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 12px;
  background: #fff;
  width: 100%;
  z-index: 99;
  padding: 20px 0px 20px 15px;
  display: none;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.1);
}
.main-header .block-sub-menu .children-menu.active {
  display: block;
}
@media only screen and (max-width: 575px) {
  .main-header .block-sub-menu .children-menu {
    left: 0px;
    width: 103%;
    overflow: hidden;
  }
}
.main-header .block-sub-menu .children-menu .icon-arrow {
  display: block;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}
.main-header .block-sub-menu .children-menu a.header-chil {
  font-size: 14px;
  color: #F91E4E;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 10px;
  display: flex;
  gap: 4px;
  align-items: center;
}
.main-header .block-sub-menu .children-menu .chilren-item .mega-menu__menu__title {
  font-size: 18px;
  color: #1A202C;
  font-weight: 600;
  line-height: 31px;
  margin-bottom: 5px;
}
.main-header .block-sub-menu .children-menu .chilren-item ul.mega-menu__menu {
  list-style: none;
  padding-left: 0px;
}
.main-header .block-sub-menu .children-menu .chilren-item ul.mega-menu__menu li {
  margin-bottom: 5px;
}
.main-header .block-sub-menu .children-menu .chilren-item ul.mega-menu__menu li a {
  font-size: 14px;
  color: #1A202C;
  font-weight: 400;
  line-height: 31px;
  text-decoration: none;
}
.main-header .block-sub-menu .children-menu .chilren-item ul.mega-menu__menu li a:hover {
  color: #F91E4E;
}

.mega-menu__grid {
  display: flex;
}
@media only screen and (max-width: 575px) {
  .mega-menu__grid {
    display: block;
    padding-left: 0px;
  }
}
.mega-menu__grid > div {
  width: calc(25% - 30px);
}
@media only screen and (max-width: 575px) {
  .mega-menu__grid > div {
    width: 100%;
  }
}

/*# sourceMappingURL=menu.css.map */
