@charset "utf-8";
@import "variables";
@import "mixins";
@import "fonts";

/* -----------------------------------------------------------
	reset style
----------------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: $font_main !important;
	color: $content-primary;
	overflow: hidden auto;
	background-image:  url('../images/background.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60.47%, #000000 82.71%);
		z-index: -1;
	}

	@include mq(max_md) {
		background-image: none;
		background-color: #000;
		height: auto;
	}
}

img {
	max-width: 100%;
}

a,
button {
	transition: all 0.4s ease;
}

.over {
	transition: all 0.4s ease;

	&:hover {
		opacity: 0.7;
	}
}

.list-style-none {
	list-style: none !important;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	margin: 0;
	padding: 0;

}
.mr-0 {
	margin: 0 !important;
}

.pd-0 {
	padding: 0 !important;
}

/* -----------------------------------------------------------
	common style
----------------------------------------------------------- */
.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.d-flex {
	display: flex;
}

.text-primary {
	color: #009a5f;
}

.text-uppercase {
	text-transform: uppercase;
}

.flex-start {
	justify-content: flex-start;
}


.text-overflow-150 {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	display: inline-block;
	max-width: 150px;
}
.flex-end {
	justify-content: flex-end;
}

.flex-center {
	justify-content: center;
}

.flex-center {
	justify-content: center;
}

.w-100 {
	width: 100%;
}
.txt-green-primary {
	color: #009A5F !important;
}

.w-20 {
	min-width: 20px !important;
	max-width: 20px !important;
	height: 20px !important
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	// overflow: auto;
}


@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (min-width: 1400px) {
	.container {
		width: 1320px;
	}
}

// ========CUSTOMER DATE PICKER STYLE ====

.calendar {
	background: #fff;
	overflow: hidden;
	position: relative;
	max-width: max-content;
	min-width: 320px;
	padding: 12px 4px;
	@include mq(max_md) {
		max-width: 100%;
	}

	.ui-datepicker-header {
		height: auto;
		width: 100%;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: #1A202C;
		margin-bottom: 16px;
	}

	.ui-datepicker-prev,
	.ui-datepicker-next {
		width: 24px;
		height: 24px;
		text-indent: 9999px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		overflow: hidden;
		position: relative;
	}

	.ui-datepicker-prev {
		float: left;
		margin-left: 0px;
		position: relative;
	}

	.ui-datepicker-prev:after {
		transform: rotate(45deg);
		margin: -43px 0px 0px 8px;
	}

	.ui-datepicker-next {
		float: right;
		margin-right: 8px;
		position: relative;
	}

	.ui-datepicker-next:after {
		transform: rotate(-135deg);
		margin: -43px 0px 0px 6px;
	}

	.ui-datepicker-prev:after,
	.ui-datepicker-next:after {
		content: "";
		position: absolute;
		display: block;
		width: 10px;
		height: 10px;
		border-left: 2px solid #1A202C;
		border-bottom: 2px solid #1A202C;
		top: 48px;
	}

	.ui-datepicker-prev:hover,
	.ui-datepicker-next:hover,
	.ui-datepicker-prev:hover:after,
	.ui-datepicker-next:hover:after {
		border-color: #1A202C;
	}

	.ui-datepicker-title {
		text-align: center;

		@include mq(max_md) {
			margin-top: 10px;
		}
	}

	.ui-datepicker-calendar {
		width: 100%;
		text-align: center;
	}

	.ui-datepicker-calendar thead tr th span {
		display: block;
		min-width: 35px;
		max-width: 35px;
		min-height: 35px;
		max-height: 35px;
		margin-bottom: 8px;
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 18px;
		color: #718096;
	}

	.ui-state-default {
		text-decoration: none;
		min-width: 35px !important;
		min-height: 35px !important;
		max-width: 35px !important;
		max-height: 35px !important;
		display: flex;
		justify-content: center;
		align-items: center;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		color: #1A202C;

		&:hover {
			text-decoration: none;
		}
	}

	.ui-state-default:hover {
		// background: rgba(0, 0, 0, 0.02);
	}

	.ui-datepicker-today {
		.ui-state-highlight {
			color: #FFFFFF;
			border-radius: 50%;
			background-color: #009a5f;
		}

		.ui-state-active {
			color: #fff !important;
		}
	}

	.ui-state-active {
		color: #009a5f;
	}

	.ui-datepicker-unselectable .ui-state-default {}

	.ui-datepicker-other-month .ui-state-default {
		color: #A0AEC0;
	}
}




// =========style input common=========
.search-wrapper-common {
	width: 100%;
	height: auto;
	padding: 6px;
	border: none;
	border-radius: 6px;
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 6px;

	.icon {
		display: flex;
		width: 20px;
		height: 20px;
		justify-content: center;
		align-items: center;
	}
	input {
		flex-grow: 1;
		width: 100%;
		border: none;
		outline: none;
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 20px;
		cursor: pointer;
		/* identical to box height */


		/* #FFFFFF */

		color: #FFFFFF;
		background-color: transparent;
		&:focus {
			outline: none;
		}
		 &::placeholder {
			font-style: normal;
			font-weight: 400;
			font-size: 13px;
			line-height: 20px;
			color: rgba(255, 255, 255, 0.5);
		}
	}
}

.menu-search {
	 background: rgba(255, 255, 255, 0.1);
	 padding: 10px 6px;
}

.sidebar-search {
	background: rgba(255, 255, 255, 0.1);
	padding: 6px;
}
// =============END STYLE INPUT SEARCH COMMON =========

// ============STYLE LIST LEAGUE ==============
.list-league {
	width: 100%;
	display: flex;
	flex-direction: column;
	list-style: none;
}
.list-league-menu-mb {
	margin-top: 24px;
}

.list-vertical {
	flex-direction: column;
	gap: 16px;
}

.list-horizontal {
	flex-direction: row;
	gap: 32px;
}

.league-item {
	display: flex;
	align-items: center;
	gap: 0px 8px;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.league-image-common {
	min-width: 20px;
	max-width: 20px;
	height: 20px;
	object-fit: cover;
	border: none;
	border-radius: 50%;
}

.league-name {
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	color: #fff;
}

// ==========END STYLE LIST LEAGUE =======

// ============START STYLE LOGO ========
.nav-logo {
	min-width: 155px;
	max-width: 155px;
	img {
		min-width: 155px;
		max-width: 155px;
		height: 24px;
		object-fit: cover;

		@include mq(max_md) {
			display: none;
		}
	}
}

.nav-footer-logo {
	img {
		@include mq(max_md) {
			display: block !important;
		}
	}
}
// ============START STYLE LOGO ========


//  ==========START STYLE MAIN LAYOUT ========
.main-layout {
	width: 100%;
	height: auto;
	display: flex;
	gap: 24px;
	padding: 24px 0px;
	justify-content: center;

	@include mq(max_md) {
		padding: 12px 0px;
	}
}

.left-main-layout, .right-main-layout {
	min-width: 200px;
	max-width: 200px;
	height: auto;
	max-height: max-content;

	@include mq(max_md) {
		display: none;
	}
}

.center-main-layout {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	max-width: 545px;
	@include mq(max_md) {
		max-width: 100%;
	}
}

.left-main-layout-content-wrapper,
.right-main-content-wrapper {
	width: 100%;
	height: auto;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 8px;
	padding: 16px 12px;


	.list-league-wrapper {
		margin: 16px 0px;
	}
}

.right-main-layout  {
	min-width: 240px;
	max-width: 240px;

	.header-right-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.title {
			font-style: normal;
				font-weight: 500;
				font-size: 13px;
				line-height: 20px;
				/* identical to box height */
				text-transform: uppercase;
				color: #FFFFFF;
		}
		.icon {
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
	}

	.list-news-right-sidebar-wrapper {
		display: flex;
		flex-direction: column;
		gap: 12px 0px;

		.list-news-item {
			position: relative;
			display: block;
			margin-top: 12px;
			min-width: 216px;
				max-width: 216px;
				height: 144px;
			border-radius: 4px;
			font-style: normal;
			font-weight: 500;
			font-size: 13px;
			line-height: 20px;

			color: #FFFFFF;

			.image-news {
				display: block;
				min-width: 100%;
				max-width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				border-radius: 4px;
			}

			.news-content-mask {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-end;
				padding: 0px 12px 8px;
				background-color: rgba(255, 255, 255, 0.15);

				.news-title {
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
					max-width: 100%;
				}

			}


			&:hover {
				text-decoration: none;
			}
		}
	}

}

//  ==========END STYLE MAIN LAYOUT ========

.button-common {
	width: 100%;
	display: block;
	padding: 8px 0px;
	text-align: center;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 4px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	/* identical to box height */

	text-align: center;

	/* #FFFFFF */

	color: #FFFFFF;
	&:focus {
		outline: none;
}
}

.league-info-wrapper {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	margin-bottom: 12px;

	.league-image {
		min-width: 40px;
		max-width: 40px;
		height: 40px;
		object-fit: cover;
		border-radius: 50%;
		border: none;
		margin-right: 12px;

		@include mq(max_md) {
			min-width: 20px;
			max-width: 20px;
			height: 20px;
		}
	}

	.league-info {
		display: flex;
		flex-direction: column;

		.group-name {
			font-style: normal;
			font-weight: 500;
			font-size: 13px;
			line-height: 20px;
			/* identical to box height */


			color: #FFFFFF;

		}

		.league-name {
			font-style: normal;
			font-weight: 400;
			font-size: 13px;
			line-height: 20px;
			color: rgba(255, 255, 255, 0.5);
		}

	}

}

.table-match-detail-wrapper {
	width: 100%;
	height: auto;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 12px 0px;
	display: flex;
	align-items: center;
	.club-item-wrapper {
		width: 50%;
	}

	.score-wrapper {
		min-width: 50px;
		max-width: 50px;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 6px 0px;

		.score {
			font-style: normal;
			font-weight: 500;
			font-size: 17px;
			line-height: 26px;
			/* identical to box height */

			text-align: center;

			/* #FFFFFF */

			color: #FFFFFF;
		}

		.type {
			font-style: normal;
			font-weight: 400;
			font-size: 11px;
			line-height: 16px;
			/* identical to box height */

			text-align: center;

			/* #FFFFFF */

			color: rgba(255, 255, 255, 0.5);
		}
	}

	.club-item-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 8px 0px;
		.club-image {
			min-width: 40px;
			max-width: 40px;
			height: 40px;
			border: none;
			border-radius: 50%;
			object-fit: cover;
		}

		.club-name {
			font-style: normal;
			font-weight: 400;
			font-size: 13px;
			line-height: 20px;
			/* identical to box height */

			text-align: center;

			color: #FFFFFF;

			@include mq(max_md) {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 120px;
			}
		}

	}

}

// ===========STYLE MATCH TABS =========
.sub-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	padding: 0px 20px;

	@include mq(max_md) {
		padding: 0px 12px;
	}
	li {
		min-width: max-content;
		margin-right: 20px;

		@include mq(max_md) {
			margin-right: 12px;
			min-width: fit-content;
		}

		&:last-of-type {
			margin-right: 0;
		}

		a {
			font-style: normal;
			font-weight: 500;
			font-size: 13px;
			line-height: 20px;
			text-align: center;
			color: #FFFFFF;
			padding-bottom: 10px;
			display: block;
			text-decoration: none;
			min-width: max-content;
			position: relative;
			top: 4px;
			left: 0;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.ui-state-active {
		a {
			color: #009A5F;
			padding-bottom: 7px;
			border-bottom: 3px solid #009A5F;
		}

	}
}

.tab-content {
	padding: 16px 20px;

	@include mq(max_md) {
		padding: 16px 12px;
	}
}

// ===========END MATCH TABS =========

.block-club-common {
	display: flex;
	align-items: center;
  width: 100%;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 8px;
	border:none;
	padding: 10px 16px;
	margin-bottom: 4px;

	@include mq(max_md) {
		padding: 10px;
	}

	.time-wrapper {
		min-width:  40px;
		max-width: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-style: normal;
		font-weight: 400;
		font-size: 11px;
		line-height: 16px;
		display: flex;
		align-items: center;
		text-align: center;
		color: rgba(255, 255, 255, 0.5);
		margin-right: 10px;

		.type {
			text-transform: uppercase;
		}
	}

	.list-club-wrapper {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		gap: 8px;
	}

	.club-item {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.club-info-wrapper {
			display: flex;
			align-items: center;
			gap: 8px;

			img {
				min-width: 20px;
				max-width: 20px;
				height: 20px;
				border: none;
				object-fit: cover;
				border-radius: 50%;
			}

			.club-name {
				font-style: normal;
				font-weight: 400;
				font-size: 13px;
				line-height: 20px;
				/* identical to box height */


				/* #FFFFFF */

				color: #FFFFFF;
			}
		}

		.score {
			font-style: normal;
			font-weight: 500;
			font-size: 13px;
			line-height: 20px;
			color: #FFFFFF;
			text-align: center;
			min-width: 8px;
			max-width: 8px;
			display: flex;
			justify-content: center;
		}
	}

	.icon-star {
		margin-left: 16px;
		cursor: pointer;
		width: 20px;
		height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {

		}
	}

	.text-overflow-club {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 330px;

		@include mq(max_md) {
			max-width: 180px;
		}
	}
}


// ============STYLE MATCH TABLE COMMON ==========

.match-table-common {
	@include mq(max_md) {
		max-width: 100vw;
		overflow-x: scroll !important;
	}

	.table-row {
		display: flex;
		align-items: center;
		padding: 10px 10px 10px 0px;
		font-style: normal;
		font-weight: 400;
		font-size: 11px;
		line-height: 16px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.15);
		@include mq(max_md) {
			min-width: max-content;
		}
	}

	.column-25 {
		width: 30%;

		@include mq(max_md) {
			min-width: 150px;
		}
	}

	.column-8 {
		width: calc(70% / 9);


		@include mq(max_md) {
			min-width: 40px;
		}
	}

	.table-heading {
		background-color: rgba(255, 255, 255, 0.1);
		font-style: normal;
		color: rgba(255, 255, 255, 0.5);
		border-bottom: none !important;

		@include mq(max_md) {
			min-width: max-content;
		}
	}

	.txt-green {
		color: #31FFE6 !important;
	}

	.txt-violet {
		color: #B235FF !important;
	}
	.club-info {
		display: flex;
		align-items: center;
		gap: 0px 8px;

		.club-image {
			min-width: 20px;
			max-width: 20px;
			height: 20px;
			border: none;
			border-radius: 50%;
			object-fit: cover;
		}

		.club-name {
			font-style: normal;
			font-weight: 400;
			font-size: 11px;
			line-height: 16px;
			white-space: nowrap;
			overflow: hidden;
			display: inline-block;
			text-overflow: ellipsis;
			max-width: 120px;
		}
	}
}

// ============STYLE MATCH TABLE COMMON ==========


//  ===========STYLE LIST NEWS VERTICAL ========

.list-new-in-match {
	gap: 0 !important;
}

.list-new-by-category {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 24px 32px;

  @include mq(max_md) {
    gap: 24px 0px;
    flex-direction: column;
  }

  .list-new-by-category-item {
    width: calc((100% - 32px) / 2);
    height: auto;
    display: flex;
    gap: 12px;
    text-decoration: none;

    @include mq(max_md) {
      width: 100%;
    }
    &:hover {
      text-decoration: none;
    }

    img {
      min-width: 172px;
      max-width: 172px;
      height: 104px;
      object-fit: cover;
      border: none;
      border-radius: 4px;

      @include mq(max_md) {
        min-width: 123px;
        max-width: 123px;
        height: 85px;
      }
    }

    .news-info {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 6px;

      @include mq(max_md) {
        padding-bottom: 0px;
      }


      .news-title {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #FFFFFF;

        @include mq(max_md) {
          font-size: 13px;
          line-height: 20px;
        }
      }

      .time {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

	.news-in-match {
		width: 100% !important;
		padding: 16px 0px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.15);

		@include mq(max_md) {
			padding: 0 !important;
			border-bottom: none;
			margin-bottom: 24px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		img {
			min-width: 130px;
      max-width: 130px;
      height: 80px;
		}

		.news-title {

		}
	}
}

.list-new-in-club {
	gap: 0 !important;

	.list-new-by-category-item  {
		padding: 0 !important;
		border-bottom: none !important;
		margin-bottom: 14px !important;
	}
}

.block-tab-title {
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	/* identical to box height */

	text-transform: uppercase;

	/* #FFFFFF */

	color: #FFFFFF;
	margin-bottom: 8px;
}

.txt-blue {
	color: #319CFF;
}

.txt-orange {
	color: #D98017;
}

// =========STYLE MAIN TAB COMMON ==========
// =========END MAIN TAB COMMON ==========

.main-layout-scores-page {
	.right-main-layout {
		padding-top: 46px;
	}

	@include mq(max_md) {
		border: none;
	}

}


.main-title {
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 32px;
	/* identical to box height */


	/* #FFFFFF */

	color: #FFFFFF;
	margin: 8px 0px;
	display: none;

	@include mq(max_md) {
		display: block;
	}
}

.main-nav {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 0px 10px;
	margin-bottom: 16px;;

	@include mq(max_md) {
		gap: 0px 5px;
		margin-bottom: 8px;
	}

	li {
		min-width: max-content;
		a {
			display: block;
			text-decoration: none;
			padding: 5px 16px;
			background: rgba(255, 255, 255, 0.1);
			border-radius: 100px;
			font-style: normal;
			font-weight: 500;
			font-size: 13px;
			line-height: 20px;
			/* identical to box height */

			text-transform: uppercase;

			color: #FFFFFF;
			min-width: max-content;

			&:hover {
				text-decoration: none;
			}

			@include mq(max_md) {
				padding: 5px 8px;
				background: rgba(255, 255, 255, 0.1);
				border-radius: 6px;
			}

		}
	}

	.nav-item-pc {
		display: block;
		margin: 0;
		padding: 0;

		@include mq(max_md) {
			display: none;
		}
	}

	.ui-state-default {
		width: auto !important;
		height: auto !important;
	}

	.ui-tabs-active {
		a {
			background-color: #009A5F;
		}
	}
}


.date-nav {
	width: 100%;
	height: auto;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	padding: 8px 16px 0px;
	justify-content: space-between;

	@include mq(max_md) {
		padding: 10px 0px 0px;
	}

	li {
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			font-style: normal;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-width: 68px;
			text-decoration: none;
			padding-bottom: 8px;

			@include mq(max_md) {
				min-width: fit-content;
			}

			&:hover {
				text-decoration: none;
			}

			.day {
				text-transform: uppercase;
				color: #fff;
				font-weight: 600;
				font-weight: 600;
				font-size: 13px;
				line-height: 20px;

				@include mq(max_md) {
					font-size: 10px;
					line-height: 15px;
				}
			}

			.date {
				font-style: normal;
				font-weight: 400;
				font-size: 11px;
				line-height: 16px;
				text-align: center;
				color: rgba(255, 255, 255, 0.5);

				@include mq(max_md) {
					font-weight: 600;
					font-size: 10px;
					line-height: 15px;
				}
			}
		}
	}

	.ui-tabs-active {
		a {
			color: #009A5F;
			padding-bottom: 5px;
			border-bottom: 3px solid #009A5F;

			.day, .date {
				color: #009A5F;
			}
		}
	}
}

.sub-nav-item-for-mobile {
	display: none !important;

	@include mq(max_md) {
		display: block !important;
	}
}

.sub-nav-item-for-pc {
	display: block;

	@include mq(max_md) {
		display: none;
	}
}

.main-tab-content {
	background: #000000;
	border: 1px solid rgba(255, 255, 255, 0.15);
	border-radius: 8px;
	min-height: 100%;

	@include mq(max_md) {
		padding: 0;
		border: none;
		height: auto;
	}
}
.scores-page-content-wrapper {
	width: 100%;
	height: auto;
}

.date-picker-wrapper {
	cursor: pointer;
	position: relative;
	top: -5px;

	.calender-wrapper {
		position: relative;
		.datepicker-mobile {
			position: absolute;
			width: 100%;
			height: auto;
			background-color: #fff;
			z-index: 99999;

			@include mq(max_md) {
				bottom: auto;
				right: -100%;
			}
		}


		.control-wrapper {
			display: flex;
		}

		.time-detail {
			flex-grow: 1;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.btn-calender {
			display: flex;
			min-width: 24px;
			height: 24px;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			border: none;
			background-color: transparent;

			&:focus {
				outline: none;
			}
		}
		@include mq(max_md) {
			display: flex;
		}
	}

}

.live-nav-item {
	border-bottom: none !important;
	padding: 5px 8px;
	background: #FFFFFF;
	border-radius: 6px;
	border: none;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;

	text-transform: uppercase;

	color: #000000 !important;
	max-height: 30px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sub-tab-content {
	padding:  16px 20px;

	@include mq(max_md) {
		padding: 12px 0px;
	}
}


// ===========START TYLE SCORES PAGE ===========

.block-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8px !important;

	.league-info-wrapper {
		margin-bottom: 0 !important;
	}
	.icon-arrow {
		width: 20px;
		height: 20px;
		display: flex;
		justify-content: center;
		cursor: pointer;
		align-items: center;

	}
}
.list-league-in-scores {
	width: 100%;

	.list-result-league {
		margin-bottom: 16px;

		.eague-item-wrapper {
			display: flex;
			flex-direction: column;
		}
	}
}

.stading-content-wrapper {
	padding: 20px;

	@include mq(max_md) {
		padding: 12px 0px;
	}

	.stading-league-item {
		margin-bottom: 20px;
	}

	.match-table-common {
		margin:  12px 0px 8px 0px;
	}
}

.list-league-in-odds {
	width: 100%;
	height: auto;
}


.txt-odds-1 {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	max-width: 250px;

	@include mq(max_md) {
		max-width: 280px;
	}
}

.txt-odds-2 {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	max-width: 150px;
}
.odds-block-header {
	display: flex;
	align-items: center;

	.odds-info {
		display: flex;
		align-items: center;

		.odd-value {
			display: flex;
			align-items: center;
			gap: 0px 55px;
			font-style: normal;
			font-weight: 500;
			font-size: 11px;
			line-height: 16px;
			margin: 0px 30px;

			@include  mq(max_md) {
				display: none;
			}
		}

		.icon-arrow {
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			svg {
				display: none;
				@include mq(max_md) {
					display: block;
				}
			}
		}
	}
}


.list-league-in-odds {
	.league-item-wrapper {
		margin-bottom: 16px;;
	}
}
.list-odds-value {
	display: flex;
	align-items: center;
	gap: 6px;

	@include mq(max_md) {
		flex-direction: column;
		gap: 4px 0px;
	}

	.odds-item {
		display: flex;
		gap: 4px;
		align-items: center;
		background: rgba(217, 217, 217, 0.1);
		border-radius: 4px;
		min-width: 57px;
		max-height: 24px;;
		padding: 4px 7px;
		justify-content: center;
		font-style: normal;
		font-weight: 400;
		font-size: 11px;
		line-height: 16px;
		color: #FFFFFF;

		@include mq(max_md) {
			background-color: transparent;
			font-weight: 400;
			font-size: 10px;
			line-height: 15px;
			padding: 0;
			min-width: fit-content;
			max-height: fit-content;
		}

		.icon {
			width: 16px;
			height: 16px;
			display: flex;
			justify-content: center;
			align-items: center;

			@include mq(max_md) {
				width: 12px;
				height: 12px;
			}

			svg {
				@include mq(max_md) {
					width: 12px;
					height: 12px;
				}
			}
		}
	}
}
// ===========END STYLE SCORES PAGE ===========


//=========STYLE favourites page =======

.favourites-page-content-wrapper {
	.sub-nav {
		padding-top: 10px;

		@include mq(max_md) {
			padding: 0;
		}
	}

	.sub-tab-content {
		padding: 16px 20px;

		@include mq(max_md) {
			padding: 16px 0px;
		}
	}

	.favourites-list-league-item {
		margin-bottom: 16px;;
	}
}
// ========END STYLE FAVOURITES PAGE