@charset "utf-8";
@import "variables";
@import "mixins";


/* -----------------------------------------------------------
	common style
----------------------------------------------------------- */
.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.d-flex {
	display: flex;
}

.flex-start {
	justify-content: flex-start;
}

.flex-end {
	justify-content: flex-end;
}

.flex-center {
	justify-content: center;
}

.flex-center {
	justify-content: center;
}

.w-100 {
	width: 100%;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (min-width: 1400px) {
	.container {
		width: 1320px;
	}
}

.main-page-wrapper {
	width: 100%;
	min-height: 418px;
	background-image: url('../images/background-content.png');
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 585px 418px;

	@include mq(max_md) {
		background-size: 339px 242px;
	}
}


// ===========STYLE TOP PLAYER========
.top-player {
	&__wrapper {
		width: 100%;
		height: auto;
		background: $content-white;
		border: 1px solid #E9E6DC;
		border-radius: 4px;
		padding: 24px 14px;

		/* width */
		&::-webkit-scrollbar {
			width: 5px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: #f1f1f1;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #ccc;
			border-radius: 5px;
		}
	}

	&__title {
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 8px;
	}

	&__description {
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 21px;
		margin-bottom: 16px;
		display: inline-block;
	}

	&__list-player {
		width: 100%;
		height: auto;
		max-height: 600px;
		overflow-y: auto;
		/* width */
		&::-webkit-scrollbar {
			width: 5px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: #f1f1f1;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #ccc;
			border-radius: 5px;
		}

		.player-item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 16px;;
			padding-right: 4px;


			.score {
				min-width: 30px;
				padding: 2px 4px;
				border: none;
				border-radius: 4px;
				font-weight: 500;
				font-size: 14px;
				line-height: 21px;
				color: $content-white;
				background-color: $secondary-color;
			}

			.player-info {
				display: flex;
				align-items: center;
				gap: 12px;
				flex-grow: 1;

				.player-detail {
					display: flex;
					flex-grow: 1;
					align-items: center;
					gap: 10px;

					.player-image-wrapper {
						min-width: 56px;
						max-width: 56px;
						height: 56px;
						border: none;
						position: relative;

						.player-image {
							display: block;
							width: 100%;
							height: 100%;
							border-radius: 50%;
							object-fit: cover;
							border: none;
						}
						.club-image {
							position: absolute;
							bottom: 0;
							right: 0;
							min-width: 24px;
						max-width: 24px;
						height: auto;
						object-fit: cover;
						}
					}

					.player-description {
						display: flex;
						flex-direction: column;

						a {
							text-decoration: none;

							&:hover {
								text-decoration: underline;
							}
						}

						.player-name {
							font-size: 14px;
							line-height: 21px;
							color: $content-primary;
						}

						.club-name {
							font-style: normal;
							font-weight: 400;
							font-size: 12px;
							line-height: 18px;
							color: #718096;
						}
					}
				}
			}
		}
	}
}
// ==========END STYLE TOP PLAYER ==========
.football-ranking {
	width: 100%;
	height: auto;
	background: #FFFFFF;
	border: 1px solid #E9E6DC;
	border-radius: 4px;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 12px;

		.arrow {
			cursor: pointer;
			display: flex;
			width: 20px;
			height: 20px;
			justify-content: center;
			align-items: center;
		}

		.league-info {
			display: flex;
			gap: 8px;
			align-items: center;

			img {
				min-width: 16px;
				max-width: 16px;
				height: auto;
				border-radius: 50%;
				object-fit: cover;
			}

			.league-name {
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 24px;
			}
		}
	}

	&__table {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		background-color: #F7FAFC;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 18px;
		color: #718096;
		max-height: 580px;
		overflow-y: auto;
		padding-right: 4px;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 5px;
    }



		.table-heading {
			width: 100%;
			display: flex;
			padding: 4px 10px;
		}
		.column-10 {
			width: 10%;

		}
		.column-15 {
			width: 15%;
		}

		.column-55 {
			width: 55%;
			padding-left: 12px;
		}

		.table-row {
			padding: 10px 0px;
			display: flex;
			align-items: center;
			width: 100%;
			border-bottom: 1px solid #EDF2F7;
			background-color: #fff;
			padding: 10px 8px;
			font-weight: 400;
			font-size: 12px;
			line-height: 18px;
			color: #1A202C;

		}

		.pos-wrapper {
			display: flex;
			align-items: center;
			gap: 15px;

			.text-pos {
				font-style: normal;
				font-weight: 500;
				font-size: 12px;
				line-height: 18px;
				color: #1A202C;
			}

			span {
				width: 20px;
				height: 20px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		.club-info {
			display: flex;
			align-items: center;
			gap: 6px;

			img {
				min-width: 20px;
				max-width: 20px;
				height: auto;
				border-radius: 50%;
				object-fit: cover;
			}

			.club-name {
				font-style: normal;
				font-weight: 400;
				font-size: 12px;
				line-height: 18px;
				color: #1A202C;
				min-width: max-content;
			}
		}
	}
}