@charset "utf-8";
@import "variables";
@import "mixins";

.match-page-wrapper {
  background-color: #fff;
}

.match-page-wrapper {
  width: 100%;
  height: auto;

  .live-content {
    width: 100%;

    @include mq(max_md) {
      padding-top: 8px;
    }

    .live-title {
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
      color: #1A202C;
      padding: 36px 0px 20px;

      @include mq(max_md) {
        display: none;
      }
    }

    .live-video {
      width: 100%;
      height: 715px;

      @include mq(max_md) {
        max-height: 210px;
        width: 100%;
      }
    }

    .control-live {
      width: 100%;
      height: auto;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 0px;
      max-width: 100%;
      margin: auto;

      @include mq(max_md) {
        width: 100%;
        max-width: 100%;
      }

      .list-server {
        display: flex;
        gap: 12px;

        .btn-server {
          outline: none;
          padding: 8px 16px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          border-radius: 8px;
          color: $content-primary;
          border: none;
          cursor: pointer;
          background-color: $primary-color;

          &:focus {
            outline: none;
          }
        }

        .active {
          color: #fff;
          background-color: $secondary-color;
        }
      }

      .list-contact {
        display: flex;
        gap: 24px;
        list-style: none;
        align-items: center;
        margin: 0;
        padding: 0;

        @include mq(max_md) {
          display: none;
        }

        li {
          a {
            text-decoration: none;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .dash-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;

      @include mq(max_md) {
        display: none;
      }

      img {
        display: block;
        width: 195px;
        height: 23px;
        object-fit: cover;
      }
    }

    .match-result-wrapper {
      padding-bottom: 50px;

      @include mq(max_md) {
        padding-bottom: 0;
      }

      .column-50 {
        width: 50%;
      }

      .column-15 {
        width: 15%;

        @include mq(max_md) {
          margin: 0px 20px;
        }
      }

      display: flex;
      width: 100%;
      align-items: center;

      .club-item {
        display: flex;
        align-items: center;
        gap: 16px;

        @include mq(max_md) {
          gap: 8px;
        }

        .club-name {
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 36px;
          color: #1A202C;

          @include mq(max_md) {
            font-size: 13px;
            line-height: 21px
          }
        }

        .club-image {
          min-width: 64px;
          max-width: 64px;
          height: auto;
          border-radius: 50%;
          object-fit: cover;

          @include mq(max_md) {
            min-width: 24px;
            max-width: 24px;
          }
        }
      }

      .score-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        position: relative;

        .result {
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 48px;
          text-align: center;
          color: #F91E4E;

          @include mq(max_md) {
            font-size: 24px;
            line-height: 36px;
            min-width: max-content;

          }
        }

        .match-info {
          width: 100%;
          height: auto;
          position: absolute;
          bottom: -36px;
          right: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0;

          @include mq(max_md) {
            bottom: -18px;
          }
        }

        .time,
        .league-name {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: #718096;
          min-width: max-content;
        }

        .league-name {
          @include mq(max_md) {
            display: none;
          }
        }
      }
    }
  }

}

.page-live-content-wrapper {
  padding: 24px 0px;
  width: 100%;
  display: flex;
  gap: 24px;

  @include mq(max_md) {
    padding: 12px 0px;
    gap: 12px;
    flex-direction: column;
  }


  .left-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 16px;

    .match-info-wrapper {
      background: #FFFFFF;
      border: 1px solid #E9E6DC;
      border-radius: 4px;
      padding: 40px 24px;
      flex-direction: column;

      @include mq(max_md) {
        padding: 24px 16px;
      }

    }

    .block-title {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #1A202C;
      margin-bottom: 16px;

      @include mq(max_md) {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
      }
    }
  }

  .right-content {
    min-width: 300px;
    max-width: 300px;

    @include mq(max_md) {
      min-width: 100%;
      max-width: 100%;
    }
  }

  .list-info {
    width: 100%;
    display: flex;
    margin-bottom: 40px;

    @include mq(max_md) {
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 24px;
    }

    .info-item {
      width: 25%;
      height: auto;
      gap: 12px;
      display: flex;
      align-items: center;

      @include mq(max_md) {
        width: 100%;
        margin-bottom: 8px;
        ;
      }

      .info-detail {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .detail-title {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          color: #1A202C;
        }

        .detail-value {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #1A202C;

        }

      }
    }
  }

  .h2h-wrapper {
    .h2h-row {
      display: flex;
      margin-bottom: 12px;

      @include mq(max_md) {
        margin-bottom: 8px;
      }
    }

    .h2h-column {
      width: calc(100% / 3);
    }

    .h2h-item {
      display: flex;
      align-items: center;
      gap: 12px;

      @include mq(max_md) {
        gap: 8px;
      }

      .h2h-name {
        font-style: normal;
        font-weight: 500;
        color: #1A202C;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        @include mq(max_md) {
          font-size: 12px;
          line-height: 18px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 72px;
        }
      }

      .h2h-image {
        min-width: 40px;
        max-width: 40px;
        height: auto;
        border-radius: 50%;
        object-fit: cover;

        @include mq(max_md) {
          min-width: 24px;
          max-width: 24px;
        }
      }
    }

    .h2h-result {
      display: flex;
      justify-content: center;
      gap: 64px;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      align-items: center;

      @include mq(max_md) {
        gap: 16px;
      }

      span {
        min-width: max-content;
        display: inline-block;

        @include mq(max_md) {
          font-size: 16px;
          line-height: 24px;
        }

        &:first-child {
          color: #2F855A;
        }

        &:nth-child(2) {
          color: #718096;
        }

        &:nth-child(3) {
          color: #F91E4E;
        }
      }
    }
  }

  .table-timeline-match {
    .league-fixture {
      &__table {
        margin-bottom: 24px;

        .table-heading {
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          margin-bottom: 8px;
        }


        .coloumn-40 {
          width: 40%;

          @include mq(max_md) {
            width: 100%;
          }
        }

        .column-60 {
          width: 60%;

          @include mq(max_md) {
            width: 100%;
          }
        }

        .column-10 {
          width: 10%;
        }

        .column-20 {
          width: 20%;
        }

        .table-row {
          padding: 12px 0px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #EDF2F7;


          @include mq(max_md) {
            flex-flow: column;
            padding: 8px 0px;
          }

          .time {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;

            @include mq(max_md) {
              font-size: 12px;
              line-height: 18px;
            }
          }
        }

        .list-club {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 24px;
          justify-content: center;

          @include mq(max_md) {
            gap: 12px;
          }

          .club-item {
            display: flex;
            gap: 8px;
            align-items: center;

            &:first-of-type {
              justify-content: flex-end;
            }

            &:last-of-type {
              justify-content: flex-start;
            }

            .club-name {
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              min-width: max-content;

              @include mq(max_md) {
                font-size: 12px;
                line-height: 18px;
              }
            }

            .club-image {
              min-width: 24px;
              max-width: 24px;
              height: 24px;
              border: none;
              border-radius: 50%;
              object-fit: cover;
            }

          }

          .score {
            display: flex;
            justify-content: center;
            gap: 4px;
            align-items: center;

            .score-item {
              display: inline-block;
              min-width: 24px;
              max-width: 24px;
              height: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #FDC400;
              border-radius: 4px;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              /* identical to box height */

              text-align: center;

              /* Gray:900 */

              color: #1A202C;
            }
          }
        }
      }
    }
  }

  .prediction-and-wnning-odds-wrapper {
    .prediction-item {
      display: flex;
      gap: 12px;
      margin-bottom: 12px;

      &:last-of-type {
        margin-bottom: 0;
      }

      @include mq(max_md) {
        margin-bottom: 8px;
      }

      img {
        min-width: 40px;
        max-width: 40px;
        max-height: 40px;
        border: none;
        border-radius: 50%;
        object-fit: cover;

        @include mq(max_md) {
          min-width: 24px;
          max-width: 24px;
          height: 24px;
        }
      }

      .rediction-detail {
        display: flex;
        flex-direction: column;
        gap: 6px;

        @include mq(max_md) {
          gap: 0;
        }

        .club-name {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;

          color: #1A202C;

          @include mq(max_md) {
            font-size: 14px;
            line-height: 21px;
          }
        }

        .description {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #1A202C;

          @include mq(max_md) {
            font-size: 14px;
            line-height: 21px;
          }
        }
      }
    }
  }
}

.list-imformation-wrapper {
  width: 100%;
  height: auto;
  margin-top: 40px;

  @include mq(max_md) {
    margin-top: 24px;
  }

  .information-item {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 24px;

      &:last-of-type {
        margin-bottom: 0;
      }

      @include mq(max_md) {
        margin-bottom: 16px;
        gap: 8px;
      }
    }


    &__title {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: $content-primary;

      @include mq(max_md) {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }

    &__dash {
      width: 40px;
      height: 4px;
      border: none;
      background-color: $primary-color;
    }

    &__description {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: $content-primary;
    }
  }
}

.comment-block {
  &__wrapper {
    padding: 24px;
    background: #FFFFFF;
    border: 1px solid #E9E6DC;
    border-radius: 4px;

    @include mq(max_md) {
      display: none;
    }
    .comment-form {
      &__wrapper {
        background: #FFFFFF;
        border: 1px solid #E2E8F0;
        border-radius: 4px;
        padding: 16px  12px 12px 24px;

        textarea {
          display: block;
          width: 100%;
          height: auto;
          border:none;
          resize: none;
          cursor: pointer;
          font-family: 'Poppins' !important;

          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #1A202C;


          &::placeholder {
            color: #718096;
          }


          &:focus {
            outline: none;
            border: none;
          }
        }

        .control-wrapper {
          display: flex;
          justify-content: flex-end;
          .btn-send-comment{
            min-width: 71px;
            display: block;
            height: auto;
            padding: 11px 17px;
            text-align: center;
            border: none;
            cursor: pointer;
            text-align: center;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            background-color: $primary-color;
            border-radius: 4px;
            color: $content-primary;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 16px;
    color: #1A202C;

    .comment-count {
      color: #718096;
    }
  }
}

.list-comment {
  &__wrapper {
    margin-top: 16px;

    .comment-item {
      &__wrapper {
        width: 100%;
        display: flex;
        gap: 12px;
        margin-bottom: 24px;

        .avatar {
          display: block;
          min-width: 44px;
          max-width: 44px;
          height: 44px;
          border: none;
          border-radius: 50%;
          object-fit: cover;
        }

        .comment-detail {
          display: flex;
          flex-direction: column;
          gap: 6px;

          .username {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;

            color: #1A202C;
          }

          .comment-content {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;

            /* Gray:900 */

            color: #1A202C;
          }
        }
      }
    }
  }
}

.control-comment {
  .btn-load-more {
    min-width: 141px;
    display: block;
    margin: 0 auto;
    height: auto;
    padding: 12px 0px;
    text-align: center;
    border: none;
    cursor: pointer;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    background-color: $primary-color;
    border-radius: 4px;
    color: $content-primary;
    font-family: 'Poppins';

    &:focus {
      outline: none;
    }
  }

}