@charset "utf-8";
@import "variables";
@import "mixins";



.account-page-wrapper {
  padding-top: 32px;
  padding-bottom: 238px;

  .account-conntrol {
    display: flex;
    justify-content: flex-end;
  }

  @include mq(max_md) {
    padding-top: 24px;
    padding-bottom: 100px;
  }

  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #1A202C;
    margin-bottom: 19px;


    @include mq(max_md) {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }

  .account-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;;

    @include mq(max_md) {
       flex-direction: column;
       align-items: flex-start;
       gap: 12px;
    }
  }

  .user-info-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    justify-content: center;

    @include mq(max_md) {
      gap: 12px;
    }

    .btn-upload {
      position: relative;
      width: 144px;
      height: 144px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;
      transition: 0.2s;
      cursor: pointer;
      overflow: hidden;
      background-color: #13B7A7;

      @include mq(max_md) {
        width: 80px;
        height: 80px;
      }
    }

    .btn-upload input[type="file"] {
      cursor: pointer;
      position: absolute;
      left: 0%;
      top: 0%;
      transform: scale(3);
      opacity: 0;
      display: block;
      width: 100%;
      height: 100%;
    }


    .info-detail {
      width: fit-content;
      display: flex;
      flex-direction: column;
      gap: 4px;

      .username {
        margin: 0;
        padding: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #1A202C;
        text-align: center;

        @include mq(max_md) {
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
        }
      }

      .line {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 8px;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #1A202C;
      }

      .text-link {
        text-decoration: none;
        color: #A52457;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;

        &:hover {
          text-decoration: none;
        }

      }
    }

    @include mq(max_md) {
      gap: 16px;
    }
  }

  .btn-log-out {
    min-width: 100px;
    padding: 8px 24px;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1A202C;
    cursor: pointer;
    border: 1px solid #1A202C;

    &:focus {
      outline: none;
    }

    @include mq(max_md) {
      margin-left: 96px;
    }

  }

  .main-account-content {
    display: flex;
    justify-content: center;
  }
  .transaction-wrapper {
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    padding: 24px;
    min-width: 1096px;
    max-width: 1096px;

    @include mq(max_md) {
      padding: 12px;
      min-width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-top: 24px;
    }

    .transaction-title {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #1A202C;
      margin-bottom: 12px;

      @include mq(max_md) {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 8px;
      }

    }

    .list-transaction {
      width: 100%;
      overflow-x: scroll;

      @include mq(max_md) {
        margin-right: 0;
      }
      .table-heading {
        background-color: #EDF2F7;
        .column-item {
          color: #718096 !important;
          font-size: 14px !important;
          line-height: 21px;
        }
      }
      .table-row {
        display: flex;
        border-top: 1px solid #EDF2F7;
        padding: 10px 12px;
        padding-right: 0;

        &:last-of-type {
          border-bottom: 1px solid #EDF2F7;
        }

        @include mq(max_md) {
          padding: 6px 8px;
        }

        .column-item {
          width: calc(100% / 6);
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #1A202C;
          min-width: max-content;
          text-align: left;
          display: flex;
          align-items: center;

          @include mq(max_md) {
            font-size: 14px;
            line-height: 21px;
          }

          &:nth-of-type(2),
          &:nth-of-type(3) {
            width: 15%;

            @include mq(max_md) {
              min-width: 120px;
            }
          }

          &:nth-of-type(1),
          &:nth-of-type(4),
          &:nth-of-type(5),
          &:nth-of-type(6) {
            width: 20%;
            justify-content: center;

            @include mq(max_md) {
              min-width: 240px;
            }
          }
          &:nth-of-type(6){
            text-align: right !important;
            justify-content: flex-end;
            width: 10% !important;
            @include mq(max_md) {
              min-width: 120px;
            }
          }
          &:nth-of-type(1){
            justify-content: flex-start !important;
          }
        }
        .btn-view-transaction{
          min-width: 58px;
          height: auto;
          padding: 6px 12px;
          text-align: center;
          border: none;
          cursor: pointer;
          text-align: center;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          background-color: $primary-color;
          color: #ffff;
          font-family: 'Poppins';
          &:focus {
            outline: none;
          }
        }
      }
    }
  }


  @include mq(max_md) {
    padding-top: 23px;
  }
}
