@charset "utf-8";
@import "variables";
@import "mixins";


.league-page-wrapper {

  .league-content-wrapper {
    width: 100%;
    padding-top: 16px;
  }


  .league-header{
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;

    @include mq(max_md) {
      gap: 12px;
    }

    img {
      display: block;
      min-width: 70px;
      max-width: 70px;
      height: 70px;
      object-fit: cover;
      border: none;
      border-radius: 50%;

      @include mq(max_md) {
        min-width: 56x;
        max-width: 56px;
        height: 56px;
      }
    }

    .league-name {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: $content-primary;

      @include mq(max_md) {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  .league-detail {
    display: flex;
    gap: 24px;

    @include mq(max_md) {
      flex-direction: column;
      gap: 12px;
    }

    .left-content {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
    }

    .right-content {
      min-width: 300px;
      max-width: 300px;
      height: auto;

      @include mq(max_md) {
        min-width: 100%;
        max-width: 100%;
      }
    }

    .league-description {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $content-primary;
      margin-bottom: 24px;
      ;
    }

    .league-fixture {
      &__wrapper {
        background: #FFFFFF;
        border: 1px solid #E9E6DC;
        border-radius: 4px;
        padding: 24px;
        padding-bottom: 0;
        margin-bottom: 24px;
      }

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;


        @include mq(max_md) {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
        }

        .filter-wrapper {
          min-width: 306px;
          max-width: 306px;
          // position: relative;

          @include mq(max_md) {
            min-width: 100%;
            max-width: 100%;
            margin-bottom: 24px;;
          }

          .ui-datepicker-title  {
            margin-top: 10px !important;
          }
          .ui-datepicker-header {
            margin-bottom: 4px !important;
            // border: 1px solid #E9E6DC;
            // border-radius: 4px;
          }

          .ui-datepicker-calendar {
            // background: #FFFFFF;
            // border: 1px solid #E9E6DC;
            // border-radius: 4px;
            padding-top: 8px;
            border: 1px solid #E9E6DC;
            box-shadow: 0px 3px 0px rgba(126, 123, 107, 0.1);
            border-radius: 4px;
          }

          .calender-for-mobile {
            width: 100%;
            padding: 4px;
            position: relative;
            flex-direction: column;
            background: #FFFFFF;
            border: 1px solid #E9E6DC;
            border-radius: 4px;

            @include mq(max_md) {
              order: 2;
              margin-top: 8px;
            }

            #datepicker-mobile {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: auto;
              background-color: #fff;
              z-index: 99999;
            }


            .control-wrapper {
              display: flex;
            }

            .time-detail {
              flex-grow: 1;
              display: flex;
              justify-content: space-between;
              align-items: center;
            }

            .btn-calender {
              display: flex;
              min-width: 32px;
              height: 32px;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              border: none;
              border-radius: 4px;
              background-color: transparent;

              &:focus {
                outline: none;
              }
            }

            .btn-next,
            .btn-prev {
              background-color: #EDF2F7;
            }

            .btn-next {
              margin-right: 4px;
            }

            .btn-show {
              background-color: #F91E4E;
            }

            @include mq(max_md) {
              display: flex;
            }
          }

        }

        .title {
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 24px;

          @include mq(max_md) {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 0;
          }
        }
      }

      &__table {
        margin-bottom: 24px;

        .table-heading {
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          margin-bottom: 8px;
        }


        .coloumn-20 {
          width: 20%;

          @include mq(max_md) {
            width: 100%;
          }
        }

        .column-80 {
          width: 80%;

          @include mq(max_md) {
            width: 100%;
          }
        }

        .column-40 {
          width: 40%;
        }

        .column-10 {
          width: 10%;
        }

        .table-row {
          padding: 12px 0px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #EDF2F7;


          @include mq(max_md) {
            flex-flow: column;
            padding: 8px 0px;
          }

          .time {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;

            @include mq(max_md) {
              font-size: 12px;
              line-height: 18px;
            }
          }
        }

        .list-club {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 24px;
          justify-content: center;

          @include mq(max_md) {
            gap: 12px;
          }

          .club-item {
            display: flex;
            gap: 8px;
            align-items: center;

            &:first-of-type {
              justify-content: flex-end;
            }

            &:last-of-type {
              justify-content: flex-start;
            }

            .club-name {
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              min-width: max-content;

              @include mq(max_md) {
                font-size: 12px;
                line-height: 18px;
              }
            }

            .club-image {
              min-width: 24px;
              max-width: 24px;
              height: 24px;
              border: none;
              border-radius: 50%;
              object-fit: cover;
            }

          }

          .score {
            display: flex;
            justify-content: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            min-width: max-content;
          }
        }
      }
    }

    .league-standing {
      &__wrapper {
        padding: 24px 8px;
        background-color:$content-white;
        border: 1px solid #E9E6DC;
        border-radius: 4px;
        .title {
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 24px;

          @include mq(max_md) {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 8px;
          }
        }
      }
    }
    .league-stadinng-table {
      width: 100%;
      height: auto;
      overflow-x: auto;

      .row-item {
        padding: 10px 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #1a202c;
        display: flex;
        align-items: center;
        background-color: #fff;

        .team-info {
          min-width: 230px;
          max-width: 230px;;
          display: flex;
          align-items: center;

          .team-id {
            display: flex;
            justify-content: center;
            margin-right: 32px;

            .number {
              width: 24px;
              height: 24px;
              border: none;
              border-radius: 6px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #1a202c;
            }

            .yellow-number {
              background-color: $primary-color;
            }

            .red-number {
              background-color: $secondary-color;
              color: $content-white;
            }
          }

          .team-name {
            flex-grow: 1;
          }
        }

        .team-result {
          display: flex;
          align-items: center;
          gap: 50px;
          flex-grow: 1;

          .result-detail {
            flex-grow: 1;
            display: flex;

            .detail-item {
              min-width: 50px;
              width: calc(100% / 8);
              height: auto;
              text-transform: capitalize;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              text-align: center;
            }
          }

          .list-player {
            display: flex;
            gap: 2px;
            min-width: 150px;
            max-width: 150px;

            .player-item {
              width: 24px;
              height: 24px;
              border: none;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              text-align: center;
              color: #ffffff;
              text-transform: uppercase;
            }

            .green {
              background-color: #18b745;
            }

            .grey {
              background-color: #4a5568;
            }

            .orange {
              background-color: #e34b31;
            }
          }
        }
      }

      .table-heading {
        background-color: #4a5568;
        color: #fff;
        min-width: max-content;
      }

      .table-row {
        min-width: max-content;

        &:nth-child(odd) {
          background-color: #edf2f7;
        }

        &:hover {
          cursor: pointer;
          background-color: #edf2f7;
        }
      }
    }
  }
}