@charset "utf-8";
@import "variables";
@import "mixins";

.football-page-wrapper {
  margin-bottom: 295px;

  @include mq(max_md) {
    margin-bottom: 80px;
  }
  .main-content-page-football {
    display: flex;
    gap: 24px;
    margin-top: 32px;

    @include mq(max_md) {
      flex-direction: column;
      margin-top:0;
      background-color: #fff;
    }
    .left-content {
      min-width: 300px;
      max-width: 300px;
      height: auto;
      background-color:#F2F2F2 ;
      height: fit-content;
      display: flex;
      flex-direction: column;

      @include mq(max_md) {
        min-width: 100%;
        max-width: 100%;
      }
    }

    .left-content {
      @include mq(max_md) {
        min-width: 100%;
        max-width: 100%;
        background-color: transparent;
      }

      .top-sidebar {
        padding: 24px 8px;
        margin-bottom: 16px;
        border-bottom: 1px solid #EDF2F7;

        @include mq(max_md) {
          padding: 0;
          order: 1;
          margin-bottom: 0;
        }
      }

      .calender-for-pc {
        display: block;
        @include mq(max_md) {
          display: none;
        }
      }

      .calender-wrapper {
        display: none;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #E9E6DC;
        border-radius: 4px;
        padding: 4px;
        flex-direction: column;

        @include mq(max_md) {
          order: 2;
          margin-top: 8px;
        }

        #datepicker-mobile {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
          height: auto;
          background-color: #fff;
          z-index: 99999;
        }


        .control-wrapper {
          display: flex;
        }

        .time-detail {
          flex-grow: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .btn-calender {
          display: flex;
          min-width: 32px;
          height: 32px;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border: none;
          border-radius: 4px;
          border: none;
          background-color: transparent;

          &:focus {
            outline: none;
          }
        }
        @include mq(max_md) {
          display: flex;
        }
      }

      .left-sidebar-tabs {
        margin-top: 16px;
        width: 100%;
      }

      .left-sidebar-pc {
        display: block;

        @include mq(max_md) {
          display: none;
        }
      }

      .left-sidebar-mobile {
        display: none;
        position: relative;
        padding: 4px;
        align-items: center;
        background: #FFFFFF;
        border: 1px solid #E9E6DC;
        border-radius: 4px;

        @include mq(max_md) {
          display: none !important;
        }

        .league-info {
          display: flex;
          flex-grow: 1;
          justify-content: center;
          gap: 6px;
          align-items: center;
        }

        .league-dropdown-item{
          width: 100%;
          display: flex;
          justify-content: flex-start;
          padding: 10px 16px;
          gap: 6px;
          cursor: pointer;
          border: none;
          border-radius: 0px;
          background-color: transparent;
          align-items: center;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #1A202C;
          font-family: 'Poppins';

          img {
            display: block;
            width: 24px;
            min-width: 24px;
            height: 24px;
            object-fit: cover;
          }

          &:focus {
            outline: none;
          }
        }

        .league-image {
          display: block;
            width: 24px;
            min-width: 24px;
            height: 24px;
            object-fit: cover;
        }

        .league-name {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #1A202C;
          font-family: 'Poppins';
        }

        .btn-league-dropdown {
          display: flex;
          min-width: 32px;
          height: 32px;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border: none;
          border-radius: 4px;
          background-color: #EDF2F7;

          &:focus {
            outline: none;
          }
        }

        .hidden {
          display: none;
        }

        .show {
          display: flex;
        }

        .list-league-dropdown {
          position: absolute;
          top: 45px;
          left: 0;
          width: 100%;
          height: auto;
          background-color: #fff;
          z-index: 999;
          display: flex;
          flex-direction: column;
          background: #FFFFFF;
          border-radius: 4px;;
          border: 1px solid #E9E6DC;
          box-shadow: 0px 3px 0px rgba(126, 123, 107, 0.1);

        }

        @include mq(max_md) {
          display: flex;
        }
      }

      .main-tabs {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        .tablinks {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          padding: 10px 16px;
          gap: 6px;
          cursor: pointer;
          border: none;
          border-radius: 0px;
          background-color: transparent;
          align-items: center;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #1A202C;
          font-family: 'Poppins';


          img {
            display: block;
            width: 24px;
            min-width: 24px;
            height: 24px;
            object-fit: cover;
          }

          &:focus {
            outline: none;
          }
        }

        .active {
          border-left: 3px solid #F91E4E;
          padding: 10px 13px;
          background-color: rgba(249, 30, 78, 0.05);
        }
      }
    }

    .middle-content {
      flex-grow: 1;
      background: #f2f2f2;
      border: 1px solid #A52457;
      padding: 24px;
      height: fit-content;

      @include mq(max_md) {
        padding: 16px;
        width: 100%;
        background: #fff;
        border: none;
        padding-top: 0;
      }

      .sub-tabs-nav {
        width: 100%;
        display: flex;
        gap: 12px;
        list-style: none;
        margin-bottom: 24px;

        @include mq(max_md) {
          overflow-x: scroll;
          padding-bottom: 20px;
          margin-bottom: 12px;
        }

        li {
          a {
            text-decoration: none;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #1A202C;
            display: block;
            padding: 6px 12px;
            background: #FFFFFF;
            border: 1px solid #1A202C;
            position: relative;
            min-width: max-content;


            &:hover {
              text-decoration: none;
            }
          }
        }

        .ui-state-default {
          width: max-content !important;
          height: max-content !important;
        }

        .ui-tabs-active {
          a {
            background-color: #A52457;
            color: #fff;
            border:  1px solid transparent;

            &::before {
              content: "";
              position: absolute;
              left: 50%;
              bottom: -7px;
              display: block;
              width: 0;
              height: 0;
              -webkit-transform: translate(-50%, 0%);
              transform: translate(-50%, 0%);
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 10px solid #A52457;
            }
          }
        }
      }
    }

    .right-content {
      min-width: 300px;
      max-width: 300px;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include mq(max_md) {
        display: none;
      }
    }

    // style list league

    .list-league {
      .league-item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 24px;

        @include mq (max_md) {
          margin-bottom: 12px;
        }

        .league-item-header {
          width: 100%;

          .league-info-wrapper {
            display: flex;
            gap: 12px;
            align-items: center;
          }

          .league-image {
            display: block;
            width: 42px;
            height: 42px;
            min-width: 42px;
            border: none;
            border-radius: 50%;
            object-fit: cover;
          }

          .league-info {
            display: flex;
            flex-direction: column;

            .club-name {
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              color: #1A202C;
            }

            .league-name {
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #1A202C;
            }
          }
        }

        .list-timeline {
          .timeline-item {
            padding: 10px 60px 16px 24px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #EDF2F7;
            gap: 32px;
            position: relative;

            @include mq(max_md) {
              padding: 8px;
              gap: 16px;
            }

            .time-wrapper {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              min-width: 30%;

              .text-time {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #1A202C;
              }

              .text-day {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #718096;
              }

              .text-ft {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #718096;
                text-transform: uppercase;
              }

              .text-live {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: #F91E4E;
              }
            }

            .list-club {
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              gap: 8px;

              .club-item {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .club-info {
                  display: flex;
                  gap: 8px;
                  align-items: center;

                  .club-image {
                    display: block;
                    min-width: 24px;
                    height: 24px;
                    object-fit: cover;
                    border: none;
                    border-radius: 50%;

                  }

                  .club-name {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    color: #1A202C;
                  }
                }

                .score {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 21px;
                  color: #1A202C;
                }

                .red-score {
                  color: #F91E4E
                }
              }
            }

            .list-score {
              display: flex;
              gap: 18px;

              .score-black {
                color: #1A202C !important;
              }

              .score-grey {
                color: #718096 !important;
              }

              .score {
                font-style: normal;
                font-weight: 400 !important;
                font-size: 14px !important;
                line-height: 21px !important;
                min-width: 18px;
                display: flex;
                justify-content: center;

              }
              @include mq(max_md) {
                gap: 8px;
              }
            }

            .btn-play {
              display: flex;
              min-width: 22px;
              max-width: 22px;
              height: 22px;
              cursor: pointer;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: 25px;
              right: 15px;
              border: none;
              background-color: transparent;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }

    // style list league
  }
}

.league-content-wrapper {
  width: 100%;
  height: auto;

  .day-tabs-nav {
    list-style: none;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    overflow-x: auto;

    @include mq(max_md) {
      padding-bottom: 12px;
    }

    .live-status {
      color: #A52457;
    }

    li {
      min-width: 90px;
      max-width: 90px;
      height: auto;

      a {
        width: 100%;
        min-height: 50px;
        display: flex;
        padding-bottom: 10px;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #1A202C;
        text-decoration: none;
        border-bottom: 1px solid #E1ECE6;

        .day-of-week {
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
        }

        .day-of-month {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }

    .ui-tabs-active {
      a {
        background-color: transparent;
        color: #A52457;
        border-bottom: 1px solid #A52457;
      }
    }
  }

  .date-picker-wrapper {
    min-height: 50px;
    display: flex;
    width: calc(100% - 720px);
    padding-left: 32px;
    border-bottom: 1px solid #E1ECE6;
    cursor: pointer;

    @include mq(max_md) {
      display: none;
    }

    .calender-wrapper {
      width: 100%;
      .datepicker-mobile {
        position: absolute;
        right: 0;
        width: 100%;
        height: auto;
        background-color: #fff;
        z-index: 99999;
      }


      .control-wrapper {
        display: flex;
      }

      .time-detail {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .btn-calender {
        display: flex;
        min-width: 32px;
        height: 32px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        background-color: transparent;

        &:focus {
          outline: none;
        }
      }
      @include mq(max_md) {
        display: flex;
      }
    }

  }

  .list-league-match {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include mq(max_md) {
      gap: 32px;
    }

    .league-match-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;

      @include mq(max_md) {
        gap: 8px;
      }

      .league-info {
        display: flex;
        gap: 8px;

        .league-image {
          min-width: 24px;
          max-width: 24px;
          height: 24px;
          object-fit: cover;
        }

        .league-name {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #1A202C;
        }
      }

      .list-match {
        width: 100%;

        .match-item {
          display: flex;
          padding: 12px 0px;
          border-bottom: 1px solid #334155;

          @include mq(max_md) {
            flex-direction: column;
            gap: 12px;
          }

          .left-row {
            width: 25%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #1A202C;

            @include mq(max_md) {
              width: 100%;
              display: flex;
              gap: 16px;
              justify-content: flex-start;
            }

            .time {
              display: block;
              min-width: max-content;
              display: flex;
              gap: 4px;

              position: relative;

              .status {
                border-left: 1px solid #E1ECE6;
                padding-left: 4px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #1A202C;
                position: absolute;
                min-width: max-content;
                bottom: 0;
                left: calc(100% + 4px);
              }

              .upcoming {
                color: #A52457
              }

              .live {
                text-transform: capitalize;
                color: #13B7A7;
              }
            }

            .league-match-name {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 120px;

              @include mq(max_md) {
                max-width: 110px;
              }
            }

            .match-info {
              display: flex;
              flex-direction: column;
              gap: 6px 0px;

              .match-time {
                display: flex;
                align-items: center;
                gap: 24px;
                .time {
                  font-style: normal;
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 21px;
                  color: #181818;
                }

                .status {
                  display: inline-block;
                  min-width: 60px;
                  max-width: max-content;
                  padding: 0px 6px;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 13px;
                  line-height: 20px;
                  text-align: center;

                  color: #FFFFFF;
                  border-radius: 4px;
                }

                .live-status {
                  background: #1FC139;
                  border: 1px solid #1FC139;
                }

                .upcoming-status {
                  background: #C11F1F;
                  border: 1px solid #C11F1F;
                  border-radius: 4px;
                }
              }
            }

            .sign {
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 21px;
              /* identical to box height */

              text-align: center;

              color: #000000;
            }
          }

          .right-row {
            width: 75%;
            display: flex;

            @include mq(max_md) {
              width: 100%;
            }

            .list-club-wrapper{
              display: flex;
              flex-grow: 1;
              padding: 0px 24px;
              align-items: center;
              gap: 24px;

              @include mq(max_md) {
                padding: 0px 4px;
                gap: 12px;
              }

              .club-item {
                width: 50%;
                display: flex;
                gap: 8px;

                .club-image {
                  min-width: 24px;
                  max-width: 24px;
                  height: 24px;
                  object-fit: cover;
                  border: none;
                  border-radius: 50%;
                }

                .club-name {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 21px;
                  /* identical to box height */

                  text-align: right;
                  color: #1A202C;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 160px;

                  @media only screen and (max-width: 1300px) {
                    max-width: 130px;
                  }

                  @media only screen and (max-width: 1200px) {
                    max-width: 120px;
                  }
                  @media only screen and (max-width: 1000px) {
                    max-width: 100%;
                  }
                  @media only screen and (max-width: 600px) {
                    max-width: 100px;
                  }
                  @media only screen and (max-width: 400px) {
                    max-width: 80px;
                  }
                }
              }

              .first-club {
                justify-content: flex-end;
                .club-name {
                  direction: rtl;
                }
              }


              .score {
                width: 50px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #FFFFFF;
                /* #A52457 */

                border: 1px solid #A52457;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
                /* identical to box height */

                text-align: center;

                /* #A52457 */

                color: #A52457;

              }
            }

            .btn-watch {
              min-width: max-content;
              max-height: 32px;
              padding: 5px 8px;
              text-align: center;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;
              border: none;
              outline: none;
              /* identical to box height */
              text-transform: capitalize;

              color: #FFFFFF;
              background-color: #A52457;
              cursor: pointer;
              font-family: 'Poppins';


              &:hover {
                outline: none;
              }

              @include mq(max_md) {
                display: none;
              }

            }
          }
        }
      }
    }
  }
}

.league-content-wrapper {
  position: relative;
}