
@charset "utf-8";
@import "variables";
@import "mixins";


.menu-wrapper {
  background-color: $background-secondary-color;
  width: 100%;
  height: auto;

  .menu-content {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 32px;
    overflow-x: auto;
    padding-left: 86px;

    .menu-item {
      min-width: fit-content;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 0;

      a {
        color: $content-white;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        display: flex;
        gap: 8px;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 12px 0px;
        min-width: max-content;

        &:hover {
          text-decoration: none;
        }

        .icon {
          display: block;
          min-width: 24px;
          max-width: 24px;;
          height: 24px;
        }
      }
    }

    .active {
      a {
        color: $primary-color;
        border-bottom: 4px solid $primary-color;
      }
    }
  }
}

