@charset "utf-8";
@import "variables";
@import "mixins";


.news-page-wrapper {
  width: 100%;
  min-height: 418px;
  background-image: url('../images/background-content.png'), linear-gradient(#F91E4E 28%, #F5F5F5 0%);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 585px 418px;

  @include mq(max_md) {
    // background-size: 339px 242px;
    background-size: 280px 240px !important;
  }


  .news-header {
    width: calc(100% - 585px);
    height: calc((418px * 28) / 100);
    background-color: $secondary-color;
    position: relative;

    @include mq(max_md) {
      // width: calc(100% - 339px);
      // height: calc((242px * 28) / 100);
      width: calc(100% - 280px);
      height: calc((240px * 28) / 100);
    }

    .title {
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
      color: $content-white;
      position: absolute;
      top: 30px;
      left: 162px;

      @include mq(max_md) {
        font-size: 24px;
        line-height: 36px;
        top: 18px;
        left: 16px;
      }
    }
  }


  // =========STYLEW NEWS DETAIL =========

  .news-detail-wrapper {
    display: flex;
    gap: 24px;
    margin-top: 48px;
    @include mq(max_md) {
      margin-top: 24px;
    }
    .left-content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      @include mq(max_md) {
        min-width: 100%;
        max-width: 100%;
      }
    }

    .right-content {
      min-width: 300px;
      max-width: 300px;
      height: auto;

      @include mq(max_md) {
        display: none;
      }
    }

    .news-detail {
      max-width: 864px;
      @include mq(max_md) {
        max-width: 100%;
      }

      .news-detail-title {
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        @include mq(max_md) {
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
        }
      }

      .news-detail-time {
        display: inline-block;
        margin: 24px 0px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: rgba(74, 85, 104, 0.6);

        @include mq(max_md) {
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          margin: 12px 0px;
        }
      }
      .news-line {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 32px;

        @include mq(max_md) {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
        }
      }

      .news-detail-image {
        min-width: 800px;
        max-width: 800px;
        max-height: 465px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
        margin-bottom: 32px;
        @include mq(max_md) {
          min-width: 100%;
        max-width: 100%;
        max-height: 232px;
        margin-bottom: 20px;
        }
      }
    }

    .dash {
      margin-top: 48px;
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      @include mq(max_md) {
        margin-top: 24px;
        margin-bottom: 20px;
      }
      img {
        display: block;
        width: 195px;
        height: 23px;
      }
    }
  }

  .other-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;

    @include mq(max_md) {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
    }
  }

  .btn-load-more-mb {
    display: none;
    font-family: 'Poppins';

    @include mq(max_md) {
      display: block;
    }
  }


}