@charset "utf-8";
@import "variables";
@import "mixins";

.football-page-wrapper {
  .main-content-page-football {
    display: flex;
    gap: 24px;

    @include mq(max_md) {
      flex-direction: column;
    }
    .left-content {
      min-width: 300px;
      max-width: 300px;
      height: auto;
      background-color: #fff;
      height: fit-content;
      display: flex;
      flex-direction: column;

      @include mq(max_md) {
        min-width: 100%;
        max-width: 100%;
      }
    }

    .left-content {
      @include mq(max_md) {
        min-width: 100%;
        max-width: 100%;
        background-color: transparent;
      }

      .top-sidebar {
        padding: 24px 8px;
        margin-bottom: 16px;
        border-bottom: 1px solid #EDF2F7;

        @include mq(max_md) {
          padding: 0;
          order: 1;
          margin-bottom: 0;
        }
      }

      .calender-for-pc {
        display: block;
        @include mq(max_md) {
          display: none;
        }
      }

      .calender-for-mobile {
        display: none;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #E9E6DC;
        border-radius: 4px;
        padding: 4px;
        position: relative;
        flex-direction: column;

        @include mq(max_md) {
          order: 2;
          margin-top: 8px;
        }

        #datepicker-mobile {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          background-color: #fff;
          z-index: 99999;
        }


        .control-wrapper {
          display: flex;
        }

        .time-detail {
          flex-grow: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .btn-calender {
          display: flex;
          min-width: 32px;
          height: 32px;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border: none;
          border-radius: 4px;
          background-color: transparent;

          &:focus {
            outline: none;
          }
        }

        .btn-next,
        .btn-prev {
          background-color: #EDF2F7;
        }

        .btn-next {
          margin-right: 4px;
        }

        .btn-show {
          background-color: #F91E4E;
        }

        @include mq(max_md) {
          display: flex;
        }
      }

      .calender-wrapper {
        width: 100%;
        height: auto;
        position: relative;
      }

      .left-sidebar-tabs {
        margin-top: 16px;
        width: 100%;
      }

      .left-sidebar-pc {
        display: block;

        @include mq(max_md) {
          display: none;
        }
      }

      .left-sidebar-mobile {
        display: none;
        position: relative;
        padding: 4px;
        align-items: center;
        background: #FFFFFF;
        border: 1px solid #E9E6DC;
        border-radius: 4px;

        .league-info {
          display: flex;
          flex-grow: 1;
          justify-content: center;
          gap: 6px;
          align-items: center;
        }

        .league-dropdown-item{
          width: 100%;
          display: flex;
          justify-content: flex-start;
          padding: 10px 16px;
          gap: 6px;
          cursor: pointer;
          border: none;
          border-radius: 0px;
          background-color: transparent;
          align-items: center;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #1A202C;
          font-family: 'Poppins';

          img {
            display: block;
            width: 24px;
            min-width: 24px;
            height: 24px;
            object-fit: cover;
          }

          &:focus {
            outline: none;
          }
        }

        .league-image {
          display: block;
            width: 24px;
            min-width: 24px;
            height: 24px;
            object-fit: cover;
        }

        .league-name {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #1A202C;
          font-family: 'Poppins';
        }

        .btn-league-dropdown {
          display: flex;
          min-width: 32px;
          height: 32px;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border: none;
          border-radius: 4px;
          background-color: #EDF2F7;

          &:focus {
            outline: none;
          }
        }

        .hidden {
          display: none;
        }

        .show {
          display: flex;
        }

        .list-league-dropdown {
          position: absolute;
          top: 45px;
          left: 0;
          width: 100%;
          height: auto;
          background-color: #fff;
          z-index: 999;
          display: flex;
          flex-direction: column;
          background: #FFFFFF;
          border-radius: 4px;;
          border: 1px solid #E9E6DC;
          box-shadow: 0px 3px 0px rgba(126, 123, 107, 0.1);

        }

        @include mq(max_md) {
          display: flex;
        }
      }

      .main-tabs {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        .tablinks {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          padding: 10px 16px;
          gap: 6px;
          cursor: pointer;
          border: none;
          border-radius: 0px;
          background-color: transparent;
          align-items: center;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #1A202C;
          font-family: 'Poppins';


          img {
            display: block;
            width: 24px;
            min-width: 24px;
            height: 24px;
            object-fit: cover;
          }

          &:focus {
            outline: none;
          }
        }

        .active {
          border-left: 3px solid #F91E4E;
          padding: 10px 13px;
          background-color: rgba(249, 30, 78, 0.05);
          ;
        }
      }
    }

    .middle-content {
      flex-grow: 1;
      background: #FFFFFF;
      border: 1px solid #E9E6DC;
      border-radius: 4px;
      padding: 24px;
      height: fit-content;

      @include mq(max_md) {
        padding: 16px;
        width: 100%;
      }

      .sub-tabs-nav {
        width: 100%;
        display: flex;
        gap: 12px;
        list-style: none;
        margin-bottom: 24px;

        @include mq(max_md) {
          overflow-x: scroll;
          padding-bottom: 20px;
          margin-bottom: 12px;
        }

        li {
          a {
            text-decoration: none;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #1A202C;
            display: block;
            padding: 6px 12px;
            background: #EDF2F7;
            border-radius: 4px;
            position: relative;
            min-width: max-content;


            &:hover {
              text-decoration: none;
            }
          }
        }

        .ui-state-default {
          width: max-content !important;
          height: max-content !important;
        }

        .ui-tabs-active {
          a {
            background-color: #FDC400;

            &::before {
              content: "";
              position: absolute;
              left: 50%;
              bottom: -7px;
              display: block;
              width: 0;
              height: 0;
              -webkit-transform: translate(-50%, 0%);
              transform: translate(-50%, 0%);
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 10px solid #FDC400;
            }
          }
        }
      }
    }

    .right-content {
      min-width: 300px;
      max-width: 300px;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include mq(max_md) {
        display: none;
      }
    }

    // style list league

    .list-league {
      .league-item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 24px;

        @include mq (max_md) {
          margin-bottom: 12px;
        }

        .league-item-header {
          width: 100%;

          .league-info-wrapper {
            display: flex;
            gap: 12px;
            align-items: center;
          }

          .league-image {
            display: block;
            width: 42px;
            height: 42px;
            min-width: 42px;
            border: none;
            border-radius: 50%;
            object-fit: cover;
          }

          .league-info {
            display: flex;
            flex-direction: column;

            .club-name {
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              color: #1A202C;
            }

            .league-name {
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #1A202C;
            }
          }
        }

        .list-timeline {
          .timeline-item {
            padding: 10px 60px 16px 24px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #EDF2F7;
            gap: 32px;
            position: relative;

            @include mq(max_md) {
              padding: 8px;
              gap: 16px;
            }

            .time-wrapper {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              min-width: 60px;

              .text-time {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #1A202C;
              }

              .text-day {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #718096;
              }

              .text-ft {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #718096;
                text-transform: uppercase;
              }

              .text-live {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: #F91E4E;
              }
            }

            .list-club {
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              gap: 8px;

              .club-item {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .club-info {
                  display: flex;
                  gap: 8px;
                  align-items: center;

                  .club-image {
                    display: block;
                    min-width: 24px;
                    height: 24px;
                    object-fit: cover;
                    border: none;
                    border-radius: 50%;

                  }

                  .club-name {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    color: #1A202C;
                  }
                }

                .score {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 21px;
                  color: #1A202C;
                }

                .red-score {
                  color: #F91E4E
                }
              }
            }

            .list-score {
              display: flex;
              gap: 18px;

              .score-black {
                color: #1A202C !important;
              }

              .score-grey {
                color: #718096 !important;
              }

              .score {
                font-style: normal;
                font-weight: 400 !important;
                font-size: 14px !important;
                line-height: 21px !important;
                min-width: 18px;
                display: flex;
                justify-content: center;

              }
              @include mq(max_md) {
                gap: 8px;
              }
            }

            .btn-play {
              display: flex;
              min-width: 22px;
              max-width: 22px;
              height: 22px;
              cursor: pointer;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: 25px;
              right: 15px;
              border: none;
              background-color: transparent;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }

    // style list league
  }

  .qa-block-wrapper {
    margin: 24px 0px 44px 0px;


    @include mq(max_md) {
      margin: 24px 0px 24px 0px;
    }
  }
}