@charset "utf-8";
@import "variables";
@import "mixins";

.page-description-wrapper {
  padding: 45px 0px;
  margin-top: 108px;
  background-color: $content-white;
  width: 100%;
  height: auto;

  @include mq(max_md) {
    padding: 24px 0px;
    margin-top: 32px;
  }

  .description-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 19px;
  }

  .description-line {
    font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 19px;
  }
}
.footer {
  padding: 30px 0px;
  background-color: $background-secondary-color;

  @include mq(max_md) {
    padding: 24px 0px;
  }

  .footer-content {
    display: flex;
    gap: 40px;
    align-items: center;

    @include mq(max_md) {
      flex-direction: column;
      gap: 12px;
      align-items: flex-start;
    }

    .left-footer {
      display: flex;
      gap: 48px;
      align-items: center;

      @include mq(max_md) {
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
      }

      .logo-footer {
        display: block;
        min-width: 204px;
        height: auto;
        max-width: 204px;
        object-fit: cover;
      }

      .dash-vertical {
        display: block;
        display: block;
        width: 23px;
        height: 195px;
        object-fit: cover;
        @include mq(max_md) {
          display: none;
        }

      }

      .dash-horizontal {
        display: none;
        width: 195px;
        height: 23px;
        object-fit: cover;
        @include mq(max_md) {
          display: block;
        }
      }
    }

    .right-footer {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .footer-description {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: $content-white;
      }

      .menu-footer {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;

        a {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: $primary-color;

          &:hover {
            text-decoration: none;

          }
        }
      }

      .copy-right {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

}