@charset "utf-8";
@import "variables";
@import "mixins";
@import "fonts";

.header {
  width: 100%;
  border: none;
  height: auto;
  position: relative;
  padding-top: 8px;

  @include mq(max_md) {
    padding: 12px 0px;
  }

  .navbar {
    display: flex;
    align-items: center;
    padding: 0;

    @include mq(max_md) {
      justify-content: space-between;
    }
  }

  .hamburger {
    display: none;
  }

  .bar {
    display: block;
    width: 18px;
    height: 1.5px;
    margin: 5px auto;
    border-radius: 0.5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 0px 12px;
    flex-grow: 1;
    margin-left: 24px;
    min-width: 545px;
    max-width: 545px;
    justify-content: center;

    @include mq(max_md) {
      margin-left: 0;
      min-width: 100%;
      max-width: 100%;
    }
  }

  .nav-item {
    // margin-left: 5rem;
    position: relative;
    position: relative;

    .nav-link {
      display: flex;
      align-items: center;
      gap: 0px 8px;
      padding: 12px 12px;

      .icon {
        display: flex;
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
      }

      .label {
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        color: #ffffff;
      }

      &:hover {
        text-decoration: none;
      }
    }

    .mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: linear-gradient(180deg, rgba(0, 154, 95, 0) 0%, #009a5f 100%);
      opacity: 0.25;
      display: none;
    }

    &:hover .nav-link {
      border-bottom: 3px solid #009a5f;
      padding: 12px 12px 8px;
    }

    &:hover .mask {
      display: block;
    }
  }

  .nav-item-mb {
    display: none;
  }

  .nav-link:hover {
    text-decoration: none;
  }

  .link-active {
    .nav-link {
      border-bottom: 3px solid #009a5f;
      padding: 12px 12px 8px;
    }

    .mask {
      display: block;
    }
  }

  @media only screen and (max-width: 768px) {
    .nav-menu {
      position: absolute;
      left: -100%;
      top: 100%;
      flex-direction: column;
      background-color: #000;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      z-index: 99999999;
      gap: 32px 0px;
      padding: 8px 24px 24px 16px;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .nav-menu.active {
      left: 0;
    }

    .nav-item {
      width: 100%;
      .nav-link {
        padding: 4px 0px;
      }
    }

    .nav-item-mb {
      display: block;
      border-top: 1px solid rgba(255, 255, 255, 0.15);
      padding-top: 24px;
    }

    .dash {
      width: 100%;
      height: 1px;
      border: none;
      background-color: rgba(255, 255, 255, 0.25);
      margin: 32px 24px;
    }

    .hamburger {
      display: block;
      cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(5px) rotate(45deg);
      transform: translateY(5px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  .list-league-pc-wrapper {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    @include mq(max_md) {
      display: none;
      margin: 0;
    }

    .list-league {
      li {
        a {
          display: flex;
          padding: 10px 16px;
        }
      }
    }
  }
}

.control-authen-block {
  min-width: max-content;
  display: flex;
  align-items: center;

  @include mq(max_md) {
    display: none;
  }

  .btn-authen {
    outline: none;
    border: none;
    padding: 6px 8px;
    cursor: pointer;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
    border-radius: 8px;

    &:focus {
      outline: none;
    }
  }

  .btn-sign-up {
    border: 1px solid #009a5f;
    color: #009a5f;
    background-color: transparent;
    margin-right: 12px;
  }

  .btn-sign-in {
    border: 1px solid #009a5f;
    color: #fff;
    background-color: #009a5f;
  }
}

.popup {
  position: fixed;
  z-index: -100;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.popup__close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;

  @include mq(max_md) {
    top: 8px;
    right: 8px;
  }
}
.popup__body {
  position: relative;
  max-width: 464px;
  min-width: 464px;
  background: #333333;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 32px;

  @include mq(max_md) {
    min-width: 100%;
    max-width: 100%;
    padding: 12px;
  }
}

.popup--show {
  z-index: 100;
  opacity: 1;
}

.popup-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-sign-in-content,
.popup-sign-up-content {
  width: 100%;
}

.authen-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #ffffff;
  margin-bottom: 16px;
  @include mq(max_md) {
  }
}

.authen-form-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .form-control {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
    cursor: pointer;
    &:last-of-type {
      margin-bottom: 0;
    }

    .label {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */
      color: #ffffff;
      margin-bottom: 8px;
      display: flex;
      flex-direction: column;
    }

    input {
      width: 100%;
      min-height: 44px;
      display: flex;
      align-items: center;
      border: none;
      outline: none;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      padding: 10px 16px;
      color: #fff;
      cursor: pointer;
      margin-top: 8px;

      &::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */

        font-family: "Poppins";
        font-style: normal;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.remember-block-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .remember-block {
    label {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */
      color: #ffffff;
      display: flex;
      align-items: flex-start;
      cursor: pointer;
    }

    input {
      width: 20px;
      height: 20px;
      border: 1px solid #fff;
      border-radius: 4px;
      margin-right: 8px;
      accent-color: #009a5f;
      cursor: pointer;
    }
  }

  .btn-forgot-password {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    /* #009A5F */

    color: #009a5f;
    text-decoration: none;
  }
}

.btn-authen-wrapper {
  width: 100%;
  margin-bottom: 24px;

  .btn-authen {
    width: 100%;
    display: block;
    text-align: center;
    background: #009a5f;
    border-radius: 8px;
    padding: 10px 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.viva-login-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .list-viva {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .viva-item {
      margin-right: 16px;
    }
  }

  .btn-register {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    /* #009A5F */

    color: #009a5f;
    text-decoration: none;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.all-sport-nav {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  position: relative;

  .icon {
    min-width: 20px;
    max-width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    background-color: #000;
    cursor: pointer;

    .sub-category {
      display: flex;
    }
  }


  @include mq(max_md) {
    &:hover {
        .sub-category {
          display: none;
        }
    }
  }
}

.all-sport-nav-for-mb {
  position: relative;
  display: none;
  padding: 0;
  @include mq(max_md) {
    display: flex;
  }

  .sub-category-for-mb {
    display: none;
    flex-direction: column !important;
  }
  .sub-category {
    flex-direction: column;
  }
  .icon {
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

.sub-category {
  background-color: #000;
  top: 100%;
  right: 0;
  padding: 24px;
  position: absolute;
  color: #fff;
  z-index: 999;
  display: flex;
  min-width: 650px;
  max-width: 650px;
  display: none;

  @include mq(max_md) {
    min-width: 100%;
    max-width: 100%;
    height: auto;
    display: none;
  }

  .column-category {
    flex-grow: 1;
    height: auto;
    display: flex;
    flex-direction: column;

    @include mq(max_md) {
      margin-bottom: 12px;
    }

    .column-category-item {
      display: flex;
      padding: 0 !important;
      margin-bottom: 20px;;
      align-items: center;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      /* identical to box height */
      color: rgba(255, 255, 255, 0.95);
      text-decoration: none;

      &:last-of-type {
        margin-bottom: 0;
      }

      .category-item-image {
        min-width: 20px;
        max-width: 20px;
        height: 20px;
        display: block;
        object-fit: cover;
        margin-right: 12px;
      }
    }
  }
}