@charset "utf-8";
$experimental-support-for-svg: true;

$font_main: 'Poppins';

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$primary-color: #FDC400;
$secondary-color: #F91E4E;

// color background
$background-primary-color: #F5F5F5;
$background-secondary-color: #313131;

// color content
$content-primary: #1A202C;
$content-white: #ffffff;
